modules/scripts-utils/css-utils/src/main/resources/rnc/stylesheetParametersRequest.rnc

default namespace = "http://www.daisy.org/ns/pipeline/data"

start =
   element * {
      element media {
         attribute value { text }
      }?
      & element userAgentStylesheet {
         attribute mediaType { text }
      }?
      & element userStylesheets {
         file*
      }?
      & element sourceDocument {
         file
      }?
   }

file =
   element file {
      attribute href { xsd:anyURI }
   }
