framework/webservice/src/main/resources/org/daisy/pipeline/webservice/resources/properties/propertyElement.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"
default namespace = "http://www.daisy.org/ns/pipeline/data"

property = element property {
    attribute href { xsd:anyURI }?
    & attribute name { text }
    & attribute desc { text }?
    & (attribute value { text } | anyElement)?
}

anyElement =
  element * {
    (attribute * { text }
     | text
     | anyElement)*
  }
