src/org/daisy/dotify/impl/input/resource-files/obfl.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://www.daisy.org/ns/2011/obfl" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="blockContents">
    <choice>
      <text/>
      <ref name="leader"/>
      <ref name="marker"/>
      <ref name="br"/>
      <ref name="evaluate"/>
      <ref name="page-number"/>
      <ref name="span"/>
      <ref name="style"/>
    </choice>
  </define>
  <define name="namespace">
    <empty/>
  </define>
  <define name="row-spacing">
    <optional>
      <attribute name="row-spacing"/>
    </optional>
  </define>
  <!-- hyphenate, true to hyphenate, false otherwise -->
  <define name="textAtts">
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="hyphenate">
        <choice>
          <value>true</value>
          <value>false</value>
          <value></value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="translate">
		<choice>
	        <value></value>
	        <value>pre-translated</value>
          <value>grade0</value>
	        <value>grade1</value>
	        <value>grade2</value>
	        <value>grade3</value>
	    </choice>
      </attribute>
    </optional>
  </define>
  <define name="name-id">
    <attribute name="name">
      <data type="ID"/>
    </attribute>
  </define>
  <!--
    none, no border (default)
    solid, a solid line
    dashed, a dashed line
  -->
  <!--
    Due to the limitations in expressiveness of text-only media, the meaning of the numbers are
    open to interpretation. 1 should be the thinnest possible value, 2 should be the double width 
    of 1, and so on. However, if it better matches the capabilities of the border characters, 2 
    could also mean the second thinnest possible border, and 3 the third thinnest border, and so on. 
    The default value is 1.
  -->
  <!--
    border-style, border style
    border-bottom-style, border bottom style
    border-left-style, border left style
    border-top-style, border top style
    border-right-style, border right style
    border-width, border width (thin or wide)
  -->
  <define name="border-style-enum">
    <choice>
      <value>none</value>
      <value>solid</value>
    </choice>
  </define>
  <define name="border-width-enum">
    <choice>
      <value>1</value>
      <value>2</value>
      <value>3</value>
      <value>4</value>
      <value>5</value>
      <value>6</value>
      <value>7</value>
      <value>8</value>
      <value>9</value>
    </choice>
  </define>
  <define name="border-align-enum">
    <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">
      inner, align border to the inner edge of the character cell
      center, align borders in between the inner and outer edge of the character cell
      outer, align border to the outer edge of the character cell
    </documentation>
    <choice>
      <value>inner</value>
      <value>center</value>
      <value>outer</value>
    </choice>
  </define>
  <define name="border-atts">
    <optional>
      <attribute name="border-style">
        <ref name="border-style-enum"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="border-bottom-style">
        <ref name="border-style-enum"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="border-left-style">
        <ref name="border-style-enum"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="border-top-style">
        <ref name="border-style-enum"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="border-right-style">
        <ref name="border-style-enum"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="border-width">
        <ref name="border-width-enum"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="border-bottom-width">
        <ref name="border-width-enum"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="border-left-width">
        <ref name="border-width-enum"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="border-top-width">
        <ref name="border-width-enum"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="border-right-width">
        <ref name="border-width-enum"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="border-align">
        <ref name="border-align-enum"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="border-bottom-align">
        <ref name="border-align-enum"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="border-left-align">
        <ref name="border-align-enum"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="border-top-align">
        <ref name="border-align-enum"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="border-right-align">
        <ref name="border-align-enum"/>
      </attribute>
    </optional>
  </define>
  <!--
    margin-bottom, bottom margin for this block (in rows)
    margin-left, left margin for this block (in chars)
    margin-top, top margin for this block (in rows)
    margin-right, right margin for this block (in chars)
  -->
  <define name="margin-atts">
    <optional>
      <attribute name="margin-bottom"/>
    </optional>
    <optional>
      <attribute name="margin-left"/>
    </optional>
    <optional>
      <attribute name="margin-top"/>
    </optional>
    <optional>
      <attribute name="margin-right"/>
    </optional>
  </define>
  <!--
    padding-bottom, bottom padding for this block (in rows)
    padding-left, left padding for this block (in chars)
    padding-top, top padding for this block (in rows)
    padding-right, right padding for this block (in chars)
  -->
  <define name="padding-atts">
    <optional>
      <attribute name="padding-bottom"/>
    </optional>
    <optional>
      <attribute name="padding-left"/>
    </optional>
    <optional>
      <attribute name="padding-top"/>
    </optional>
    <optional>
      <attribute name="padding-right"/>
    </optional>
  </define>
  <!--
    text-indent, indent (in chars) of every line in the block except the first one
    block-indent, indent (in chars) of this block's block children
  -->
  <define name="block-atts-except-list-type-row-spacing-id">
    <optional>
      <attribute name="first-line-indent"/>
    </optional>
    <optional>
      <attribute name="text-indent"/>
    </optional>
    <optional>
      <attribute name="block-indent"/>
    </optional>
    <optional>
      <attribute name="align">
        <choice>
          <value>left</value>
          <value>center</value>
          <value>right</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="underline-style">
        <ref name="border-style-enum"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="underline-width">
        <ref name="border-width-enum"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="underline-align">
        <ref name="border-align-enum"/>
      </attribute>
    </optional>
    <ref name="textAtts"/>
  </define>
  <define name="block-id">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
  </define>
  <!--
    list-type, the list type of this block
  -->
  <define name="list-atts">
    <optional>
      <attribute name="list-type">
        <choice>
          <value>none</value>
          <value>ol</value>
          <value>ul</value>
          <value>pl</value>
        </choice>
      </attribute>
    </optional>
  	<optional>
  		<attribute name="list-style">
  			<data type="string"/>
  		</attribute>
  	</optional>
  	<optional>
  		<attribute name="list-item-label">
  			<data type="string"/>
  		</attribute>
  	</optional>
  </define>
  <define name="block-atts">
    <ref name="list-atts"/>
    <ref name="row-spacing"/>
    <ref name="block-atts-except-list-type-row-spacing-id"/>
    <ref name="block-id"/>
  </define>
  <!--
    break-before, if present, break before block begins
    first-line-indent, indent (in chars) of first line block
    keep, keep rows in this block
    keep-with-next, keep the following block's first line(s) together with this block
  -->
  <define name="blockAtts">
    <optional>
      <attribute name="break-before">
        <choice>
          <value>auto</value>
          <value>page</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="keep">
        <choice>
          <value>auto</value>
          <value>page</value>
          <value>sheet</value>
          <value>volume</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="keep-with-next">
        <choice>
          <value>0</value>
          <value>1</value>
          <value>2</value>
          <value>3</value>
          <value>4</value>
          <value>5</value>
          <value>6</value>
          <value>7</value>
          <value>8</value>
          <value>9</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="volume-keep-priority">
        <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">
          Indicates that the whole block should be kept in the same volume with the specified priority.
        </documentation>
        <data type="integer">
          <param name="minInclusive">1</param>
          <param name="maxInclusive">9</param>
        </data>
      </attribute>
    </optional>
    <optional>
      <attribute name="orphans">
        <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">
          The "orphans" property specifies the minimum number of lines of a paragraph that must be left at the bottom of a page.
        </documentation>
        <data type="integer">
          <param name="minInclusive">1</param>
          <param name="maxInclusive">9</param>
        </data>
      </attribute>
    </optional>
    <optional>
      <attribute name="widows">
        <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">
          The "widows" property specifies the minimum number of lines of a paragraph that must be left at the top of a page.
        </documentation>
        <data type="integer">
          <param name="minInclusive">1</param>
          <param name="maxInclusive">9</param>
        </data>
      </attribute>
    </optional>
    <optional>
      <attribute name="keep-with-previous-sheets">
        <choice>
          <value>0</value>
          <value>1</value>
          <value>2</value>
          <value>3</value>
          <value>4</value>
          <value>5</value>
          <value>6</value>
          <value>7</value>
          <value>8</value>
          <value>9</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="keep-with-next-sheets">
        <choice>
          <value>0</value>
          <value>1</value>
          <value>2</value>
          <value>3</value>
          <value>4</value>
          <value>5</value>
          <value>6</value>
          <value>7</value>
          <value>8</value>
          <value>9</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="vertical-align">
        <choice>
          <value>before</value>
          <value>center</value>
          <value>after</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="vertical-position"/>
    </optional>
    <ref name="border-atts"/>
    <ref name="margin-atts"/>
    <ref name="padding-atts"/>
    <ref name="block-atts"/>
  </define>
  <!--
    master, name of master to use for this sequence
    initial-page-number, number of first page in the sequence
  -->
  <define name="sequenceAtts">
    <attribute name="master">
      <data type="IDREF"/>
    </attribute>
    <optional>
      <attribute name="initial-page-number"/>
    </optional>
    <optional>
      <attribute name="break-before">
        <choice>
          <value>auto</value>
          <value>volume</value>
        </choice>
      </attribute>
    </optional>
    <ref name="textAtts"/>
  </define>
  <!-- Document root -->
  <define name="obfl">
    <element name="obfl">
      <ref name="attlist-obfl"/>
      <optional>
        <ref name="meta"/>
      </optional>
      <oneOrMore>
        <ref name="layout-master"/>
      </oneOrMore>
      <zeroOrMore>
      	<ref name="file-reference"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="xml-processor"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="renderer"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="table-of-contents"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="volume-template"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="collection"/>
      </zeroOrMore>
      <oneOrMore>
        <ref name="sequence"/>
      </oneOrMore>
    </element>
  </define>
  <define name="attlist-obfl" combine="interleave">
    <ref name="namespace"/>
    <attribute name="version">
      <choice>
        <value>2011-1</value>
      </choice>
    </attribute>
    <attribute name="xml:lang">
      <data type="NMTOKEN"/>
    </attribute>
    <optional>
      <attribute name="hyphenate">
        <choice>
          <value>true</value>
          <value>false</value>
          <value></value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="translate">
      	<choice>
	        <value></value>
	        <value>pre-translated</value>
      	  <value>grade0</value>
	        <value>grade1</value>
	        <value>grade2</value>
	        <value>grade3</value>
	    </choice>
      </attribute>
    </optional>
  </define>
  <!---->
  <define name="meta">
    <element name="meta">
      <ref name="attlist-meta"/>
      <zeroOrMore>
        <ref name="any_element_except_obfl"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist-meta" combine="interleave">
    <empty/>
  </define>
  <!-- Layout master -->
  <define name="layout-master">
    <element name="layout-master">
      <ref name="attlist-layout-master"/>
      <zeroOrMore>
        <ref name="template"/>
      </zeroOrMore>
      <ref name="default-template"/>
      <optional>
        <ref name="page-area"/>
      </optional>
    </element>
  </define>
  <define name="attlist-layout-master" combine="interleave">
    <ref name="name-id"/>
    <attribute name="page-width"/>
    <attribute name="page-height"/>
    <optional>
      <attribute name="inner-margin"/>
    </optional>
    <optional>
      <attribute name="outer-margin"/>
    </optional>
    <ref name="row-spacing"/>
    <optional>
      <attribute name="duplex">
        <choice>
          <value>true</value>
          <value>false</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="page-number-variable"/>
    </optional>
    <ref name="border-atts"/>
  </define>
  <define name="template">
    <element name="template">
      <ref name="attlist-template"/>
      <ref name="template-children"/>
    </element>
  </define>
  <define name="attlist-template" combine="interleave">
    <attribute name="use-when"/>
  </define>
  <define name="default-template">
    <element name="default-template">
      <ref name="attlist-default-template"/>
      <ref name="template-children"/>
    </element>
  </define>
  <define name="attlist-default-template" combine="interleave">
    <empty/>
  </define>
  <define name="template-children">
    <oneOrMore>
      <ref name="header"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="footer"/>
    </oneOrMore>
    <zeroOrMore>
      <ref name="margin-region"/>
    </zeroOrMore>
  </define>
  <define name="header">
    <element name="header">
      <ref name="attlist-header"/>
      <zeroOrMore>
        <ref name="field"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist-header" combine="interleave">
    <ref name="row-spacing"/>
  </define>
  <define name="footer">
    <element name="footer">
      <ref name="attlist-footer"/>
      <zeroOrMore>
        <ref name="field"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist-footer" combine="interleave">
    <ref name="row-spacing"/>
  </define>
  <define name="margin-region">
    <element name="margin-region">
      <ref name="attlist-margin-region"/>
      <optional>
        <ref name="indicators"/>
      </optional>
    </element>
  </define>
  <define name="attlist-margin-region" combine="interleave">
    <attribute name="align">
      <choice>
        <value>left</value>
        <value>right</value>
      </choice>
    </attribute>
    <optional>
      <attribute name="width">
        <data type="positiveInteger"/>
      </attribute>
    </optional>
  </define>
  <define name="indicators">
    <element name="indicators">
      <zeroOrMore>
        <ref name="marker-indicator"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="marker-indicator">
    <element name="marker-indicator">
      <empty/>
      <ref name="attlist-marker-indicator"></ref>
    </element>
  </define>
  <define name="attlist-marker-indicator">
    <attribute name="markers">
      <data type="NMTOKENS"/>
    </attribute>
    <attribute name="indicator">
      <data type="normalizedString"/>
    </attribute>
  </define>
  <define name="field">
    <element name="field">
      <ref name="attlist-field"/>
      <oneOrMore>
        <choice>
          <ref name="marker-reference"/>
          <ref name="string"/>
          <ref name="current-page"/>
          <ref name="evaluate"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="attlist-field" combine="interleave">
    <optional>
      <attribute name="text-style">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <define name="current-page">
    <element name="current-page">
      <ref name="attlist-current-page"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-current-page" combine="interleave">
     <optional>
      <attribute name="number-format">
        <choice>
          <value>default</value>
          <value>roman</value>
          <value>upper-roman</value>
          <value>lower-roman</value>
          <value>upper-alpha</value>
          <value>lower-alpha</value>
        </choice>
      </attribute>
     </optional>
    <optional>
      <attribute name="text-style">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <define name="marker-reference">
    <element name="marker-reference">
      <ref name="attlist-marker-reference"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-marker-reference" combine="interleave">
    <attribute name="marker">
      <data type="NMTOKEN"/>
    </attribute>
    <attribute name="direction">
      <choice>
        <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">Defines the direction of the search</documentation>
        <value>forward</value>
        <value>backward</value>
      </choice>
    </attribute>
    <attribute name="scope">
      <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">Defines the boundaries of the search</documentation>
      <choice>
        <value>page-content</value>
        <value>page</value>
        <value>spread</value>
        <value>sheet</value>
        <value>sequence</value>
        <value>volume</value>
        <value>document</value>
      </choice>
    </attribute>
    <optional>
      <attribute name="start-offset">
        <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">Offsets the start of the search by the specified number of pages</documentation>
         <data type="short"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="text-style">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <define name="string">
    <element name="string">
      <ref name="attlist-string"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-string" combine="interleave">
    <attribute name="value"/>
    <optional>
      <attribute name="text-style">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <define name="evaluate">
    <element name="evaluate">
      <ref name="attlist-evaluate"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-evaluate" combine="interleave">
    <attribute name="expression"/>
    <optional>
      <attribute name="text-style">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <define name="table-of-contents">
    <element name="table-of-contents">
      <ref name="attlist-table-of-contents"/>
      <oneOrMore>
        <ref name="toc-entry"/>
      </oneOrMore>
    </element>
  </define>
  <define name="attlist-table-of-contents" combine="interleave">
    <ref name="name-id"/>
  </define>
  <define name="toc-entry">
    <element name="toc-entry">
      <ref name="attlist-toc-entry"/>
      <zeroOrMore>
        <choice>
          <ref name="blockContents"/>
          <ref name="toc-entry"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist-toc-entry" combine="interleave">
    <attribute name="ref-id">
      <data type="IDREF"/>
    </attribute>
    <ref name="blockAtts"/>
  </define>
  <define name="volume-template">
    <element name="volume-template">
      <ref name="attlist-volume-template"/>
      <ref name="pre-content"/>
      <ref name="post-content"/>
    </element>
  </define>
  <define name="attlist-volume-template" combine="interleave">
    <optional>
      <attribute name="use-when"/>
    </optional>
    <optional>
      <attribute name="volume-number-variable"/>
    </optional>
    <optional>
      <attribute name="volume-count-variable"/>
    </optional>
    <attribute name="sheets-in-volume-max"/>
  </define>
  <define name="pre-content">
    <element name="pre-content">
      <ref name="attlist-pre-content"/>
      <zeroOrMore>
        <choice>
          <ref name="sequence"/>
          <ref name="dynamic-sequence"/>
          <ref name="toc-sequence"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist-pre-content" combine="interleave">
    <empty/>
  </define>
  <define name="post-content">
    <element name="post-content">
      <ref name="attlist-post-content"/>
      <zeroOrMore>
        <choice>
          <ref name="sequence"/>
          <ref name="dynamic-sequence"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist-post-content" combine="interleave">
    <empty/>
  </define>
  <define name="toc-sequence">
    <element name="toc-sequence">
      <ref name="attlist-toc-sequence"/>
      <zeroOrMore>
        <ref name="on-toc-start"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="on-volume-start"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="on-volume-end"/>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="on-toc-end"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist-toc-sequence" combine="interleave">
    <attribute name="toc">
      <data type="IDREF"/>
    </attribute>
    <attribute name="range">
      <choice>
        <value>document</value>
        <value>volume</value>
      </choice>
    </attribute>
    <ref name="sequenceAtts"/>
  </define>
  <define name="on-toc-start">
    <element name="on-toc-start">
      <ref name="attlist-on-toc-start"/>
      <oneOrMore>
        <ref name="block"/>
      </oneOrMore>
    </element>
  </define>
  <define name="attlist-on-toc-start" combine="interleave">
    <optional>
      <attribute name="use-when"/>
    </optional>
  </define>
  <define name="on-volume-start">
    <element name="on-volume-start">
      <ref name="attlist-on-volume-start"/>
      <oneOrMore>
        <ref name="block"/>
      </oneOrMore>
    </element>
  </define>
  <define name="attlist-on-volume-start" combine="interleave">
    <optional>
      <attribute name="use-when"/>
    </optional>
  </define>
  <define name="on-volume-end">
    <element name="on-volume-end">
      <ref name="attlist-on-volume-end"/>
      <oneOrMore>
        <ref name="block"/>
      </oneOrMore>
    </element>
  </define>
  <define name="attlist-on-volume-end" combine="interleave">
    <optional>
      <attribute name="use-when"/>
    </optional>
  </define>
  <define name="on-toc-end">
    <element name="on-toc-end">
      <ref name="attlist-on-toc-end"/>
      <oneOrMore>
        <ref name="block"/>
      </oneOrMore>
    </element>
  </define>
  <define name="attlist-on-toc-end" combine="interleave">
    <optional>
      <attribute name="use-when"/>
    </optional>
  </define>
  <define name="list-of-references">
    <element name="list-of-references">
      <ref name="attlist-list-of-references"/>
      <optional>
        <ref name="on-collection-start"/>
      </optional>
      <optional>
        <ref name="on-page-start"/>
      </optional>
      <optional>
        <ref name="on-page-end"/>
      </optional>
      <optional>
        <ref name="on-collection-end"/>
      </optional>
    </element>
  </define>
  <define name="attlist-list-of-references" combine="interleave">
    <attribute name="collection">
      <data type="IDREF"/>
    </attribute>
    <attribute name="range">
      <choice>
        <value>document</value>
        <value>volume</value>
      </choice>
    </attribute>
  </define>
  <define name="on-collection-start">
    <element name="on-collection-start">
      <ref name="attlist-on-collection-start"/>
      <oneOrMore>
        <ref name="block"/>
      </oneOrMore>
    </element>
  </define>
  <define name="attlist-on-collection-start" combine="interleave">
    <empty/>
  </define>
  <define name="on-collection-end">
    <element name="on-collection-end">
      <ref name="attlist-on-collection-end"/>
      <oneOrMore>
        <ref name="block"/>
      </oneOrMore>
    </element>
  </define>
  <define name="attlist-on-collection-end" combine="interleave">
    <empty/>
  </define>
  <define name="on-page-start">
    <element name="on-page-start">
      <ref name="attlist-on-page-start"/>
      <oneOrMore>
        <ref name="block"/>
      </oneOrMore>
    </element>
  </define>
  <define name="attlist-on-page-start" combine="interleave">
    <empty/>
  </define>
  <define name="on-page-end">
    <element name="on-page-end">
      <ref name="attlist-on-page-end"/>
      <oneOrMore>
        <ref name="block"/>
      </oneOrMore>
    </element>
  </define>
  <define name="attlist-on-page-end" combine="interleave">
    <empty/>
  </define>
  <define name="dynamic-sequence">
    <element name="dynamic-sequence">
      <ref name="attlist-dynamic-sequence"/>
      <oneOrMore>
        <choice>
          <ref name="block"/>
          <ref name="list-of-references"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="attlist-dynamic-sequence" combine="interleave">
    <ref name="sequenceAtts"/>
  </define>
  <!-- A sequence of blocks -->
  <define name="sequence">
    <element name="sequence">
      <ref name="attlist-sequence"/>
      <oneOrMore>
        <choice>
          <ref name="block"/>
          <ref name="table"/>
          <ref name="xml-data"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="attlist-sequence" combine="interleave">
    <ref name="sequenceAtts"/>
  </define>
  <!-- fallback-scope (all|page) #IMPLIED -->
  <define name="page-area">
    <element name="page-area">
      <ref name="attlist-page-area"/>
      <optional>
        <ref name="fallback"/>
      </optional>
      <optional>
        <ref name="before"/>
      </optional>
      <optional>
        <ref name="after"/>
      </optional>
    </element>
  </define>
  <define name="attlist-page-area" combine="interleave">
    <optional>
      <attribute name="align">
        <choice>
          <value>bottom</value>
          <value>top</value>
        </choice>
      </attribute>
    </optional>
    <attribute name="collection">
      <data type="IDREF"/>
    </attribute>
    <attribute name="max-height"/>
  </define>
  <define name="fallback">
    <element name="fallback">
      <ref name="attlist-fallback"/>
      <oneOrMore>
        <ref name="rename"/>
      </oneOrMore>
    </element>
  </define>
  <define name="attlist-fallback" combine="interleave">
    <empty/>
  </define>
  <define name="rename">
    <element name="rename">
      <ref name="attlist-rename"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-rename" combine="interleave">
    <attribute name="collection">
      <data type="IDREF"/>
    </attribute>
    <attribute name="to">
      <data type="ID"/>
    </attribute>
  </define>
  <define name="before">
    <element name="before">
      <ref name="attlist-before"/>
      <zeroOrMore>
        <choice>
          <ref name="blockContents"/>
          <ref name="block"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist-before" combine="interleave">
    <ref name="blockAtts"/>
  </define>
  <define name="after">
    <element name="after">
      <ref name="attlist-after"/>
      <zeroOrMore>
        <choice>
          <ref name="blockContents"/>
          <ref name="block"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist-after" combine="interleave">
    <ref name="blockAtts"/>
  </define>
  <define name="collection">
    <element name="collection">
      <ref name="attlist-collection"/>
      <oneOrMore>
        <ref name="item"/>
      </oneOrMore>
    </element>
  </define>
  <define name="attlist-collection" combine="interleave">
    <ref name="name-id"/>
  </define>
  <!-- A block of text -->
  <define name="block">
    <element name="block">
      <ref name="attlist-block"/>
      <zeroOrMore>
        <choice>
          <ref name="blockContents"/>
          <ref name="anchor"/>
          <ref name="block"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist-block" combine="interleave">
    <ref name="blockAtts"/>
  </define>
  <define name="item">
    <element name="item">
      <ref name="attlist-item"/>
      <zeroOrMore>
        <choice>
          <ref name="blockContents"/>
          <ref name="block"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist-item" combine="interleave">
    <attribute name="id">
      <data type="ID"/>
    </attribute>
    <optional>
      <attribute name="break-before">
        <choice>
          <value>auto</value>
          <value>page</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="keep">
        <choice>
          <value>auto</value>
          <value>all</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="keep-with-next">
        <choice>
          <value>0</value>
          <value>1</value>
          <value>2</value>
          <value>3</value>
          <value>4</value>
          <value>5</value>
          <value>6</value>
          <value>7</value>
          <value>8</value>
          <value>9</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="keep-with-previous-sheets">
        <choice>
          <value>0</value>
          <value>1</value>
          <value>2</value>
          <value>3</value>
          <value>4</value>
          <value>5</value>
          <value>6</value>
          <value>7</value>
          <value>8</value>
          <value>9</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="keep-with-next-sheets">
        <choice>
          <value>0</value>
          <value>1</value>
          <value>2</value>
          <value>3</value>
          <value>4</value>
          <value>5</value>
          <value>6</value>
          <value>7</value>
          <value>8</value>
          <value>9</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="vertical-align">
        <choice>
          <value>before</value>
          <value>center</value>
          <value>after</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="vertical-position"/>
    </optional>
    <ref name="row-spacing"/>
    <ref name="list-atts"/>
    <ref name="block-atts-except-list-type-row-spacing-id"/>
    <ref name="margin-atts"/>
    <ref name="padding-atts"/>
    <ref name="border-atts"/>
  </define>
  <define name="span">
    <element name="span">
      <ref name="attlist-span"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="style"/>
          <ref name="anchor"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist-span" combine="interleave">
    <ref name="textAtts"/>
  </define>
  <define name="style">
    <element name="style">
      <ref name="attlist-style"/>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="style"/>
          <ref name="marker"/>
          <ref name="br"/>
          <ref name="anchor"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist-style" combine="interleave">
    <attribute name="name">
      <data type="NMTOKEN"/>
    </attribute>
  </define>
  <!-- A marker, use with headers/footers -->
  <define name="marker">
    <element name="marker">
      <ref name="attlist-marker"/>
      <empty/>
    </element>
  </define>
  <!--
    class, class name for this marker
    value, value for this marker
  -->
  <define name="attlist-marker" combine="interleave">
    <attribute name="class"/>
    <attribute name="value"/>
  </define>
  <!-- A leader, move to a specific location within the current row -->
  <define name="leader">
    <element name="leader">
      <ref name="attlist-leader"/>
      <empty/>
    </element>
  </define>
  <!--
    align, 	alignment of the text following the leader.
    			The leader can be aligned to the left, center or
    			right of the following text segment. Left is
    			default.
    pattern, 	fill pattern to use up to the leader position, " "
    			is default.
    position, position of the leader within the row. Can be
    			relative (percent) or absolute (column).
  -->
  <define name="attlist-leader" combine="interleave">
    <optional>
      <attribute name="align">
        <choice>
          <value>left</value>
          <value>center</value>
          <value>right</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="pattern"/>
    </optional>
    <attribute name="position"/>
  </define>
  <define name="anchor">
    <element name="anchor">
      <ref name="attlist-anchor"/>
      <empty/>
    </element>
  </define>
  <!-- item, the achored collection item -->
  <define name="attlist-anchor" combine="interleave">
    <attribute name="item">
      <data type="IDREF"/>
    </attribute>
  </define>
  <!-- Break line -->
  <define name="br">
    <element name="br">
      <ref name="attlist-br"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-br" combine="interleave">
    <empty/>
  </define>
  <define name="page-number">
    <element name="page-number">
      <ref name="attlist-page-number"/>
      <empty/>
    </element>
  </define>
  <define name="attlist-page-number" combine="interleave">
    <attribute name="ref-id">
      <data type="IDREF"/>
    </attribute>
    <optional>
      <attribute name="number-format">
        <choice>
          <value>default</value>
          <value>roman</value>
          <value>upper-roman</value>
          <value>lower-roman</value>
          <value>upper-alpha</value>
          <value>lower-alpha</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!-- Tabular data -->
  <define name="table">
    <element name="table">
      <ref name="attlist-table"/>
      <choice>
        <group>
          <element name="thead">
            <oneOrMore>
              <ref name="tr"/>
            </oneOrMore>
          </element>
          <element name="tbody">
            <oneOrMore>
              <ref name="tr"/>
            </oneOrMore>
          </element>
        </group>
        <oneOrMore>
          <ref name="tr"/>
        </oneOrMore>
      </choice>
    </element>
  </define>
  <define name="attlist-table" combine="interleave">
    <optional>
      <attribute name="table-col-spacing">
        <data type="nonNegativeInteger"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="table-row-spacing">
        <data type="nonNegativeInteger"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="preferred-empty-space">
        <data type="nonNegativeInteger"/>
      </attribute>
    </optional>
    <ref name="row-spacing"/>
    <ref name="border-atts"/>
    <ref name="margin-atts"/>
    <ref name="padding-atts"/>
  </define>
  <define name="tr">
    <element name="tr">
      <oneOrMore>
        <ref name="td"/>
      </oneOrMore>
    </element>
  </define>
  <define name="td">
    <element name="td">
      <ref name="attlist-td"/>
      <zeroOrMore>
        <choice>
          <ref name="blockContents"/>
          <ref name="anchor"/>
          <ref name="block"/>
        </choice>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist-td" combine="interleave">
    <optional>
      <attribute name="row-span">
        <data type="positiveInteger"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="col-span">
        <data type="positiveInteger"/>
      </attribute>
    </optional>
    <ref name="border-atts"/>
    <ref name="padding-atts"/>
    <ref name="block-atts-except-list-type-row-spacing-id"/>
    <ref name="block-id"/>
  </define>
  <!-- XML Data -->
  <define name="xml-data">
    <element name="xml-data">
      <ref name="attlist-xml-data"/>
    	<choice>
    		<ref name="any_element"/>
    		<ref name="any_obfl"/>
    	</choice>
    </element>
  </define>
  <define name="attlist-xml-data" combine="interleave">
    <attribute name="renderer" >
      <data type="IDREF"/>
    </attribute> 
  </define>
  <define name="renderer">
    <element name="renderer">
      <ref name="attlist-renderer"/>
      <oneOrMore>
        <choice>
          <ref name="rendering-scenario"/>
        </choice>
      </oneOrMore>
    </element>
  </define>
  <define name="attlist-renderer" combine="interleave">
    <attribute name="name">
      <data type="ID"/>
    </attribute>
  </define>
  <define name="rendering-scenario">
    <element name="rendering-scenario">
      <ref name="attlist-rendering-scenario"/>
      <zeroOrMore>
      	<ref name="parameter"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="attlist-rendering-scenario">
    <attribute name="processor">
      <data type="IDREF"/>
    </attribute>
    <attribute name="cost">
       <data type="string"/>
    </attribute>
    <optional>
      <attribute name="qualifier">
        <data type="string"/>
      </attribute>
    </optional>
  </define>
  <define name="parameter">
  	<element name="parameter">
  		<ref name="attlist-parameter"/>
  	</element>
  </define>
  <define name="attlist-parameter">
  	<attribute name="name">
  		<data type="string"/>
  	</attribute>
  	<attribute name="value">
  		<data type="string"/>
  	</attribute>
  </define>
  <define name="file-reference">
  	<element name="file-reference">
  		<ref name="attlist-file-reference"/>
  		<choice>
  			<ref name="any_content"/>
  		</choice>
  	</element>
  </define>
  <define name="attlist-file-reference">
		<attribute name="uri">
			<data type="string"/>
		</attribute>
  </define>
  <define name="xml-processor">
    <element name="xml-processor">
      <ref name="attlist-xml-processor"/>
      <choice>
        <ref name="any_content"/>
      </choice>
    </element>
  </define>
  <define name="attlist-xml-processor">
    <attribute name="name">
      <data type="ID"/>
    </attribute>
  </define>
  <start combine="choice">
    <choice>
      <ref name="obfl"/>
    </choice>
  </start>
  <define name="any">
    <zeroOrMore>
      <choice>
        <ref name="any_element_except_obfl"/>
        <text/>
      </choice>
    </zeroOrMore>
  </define>
  
  <define name="any_element_except_obfl">
    <element>
      <anyName><except><nsName ns="http://www.daisy.org/ns/2011/obfl"></nsName></except></anyName>
      <zeroOrMore>
        <attribute>
          <anyName/>
        </attribute>
      </zeroOrMore>
      <ref name="any"/>
    </element>
  </define>
  
  <define name="any_content">
    <zeroOrMore>
      <choice>
        <ref name="any_element"/>
        <ref name="any_obfl"/>
        <text/>
      </choice>        
    </zeroOrMore>
  </define>
 
  <define name="any_obfl">
    <documentation xmlns="http://relaxng.org/ns/compatibility/annotations/1.0">
      This definition is complex because any id/idref values defined in obfl needs to be retained using an enumerated list.
      For these elements, the id/idref attributes are retained as optional. This will work for many situations, but it will
      fail in some cases, for example if the same id is used on two obfl elements inside different branches of an xslt choice 
      statement.
    </documentation>
    <choice>
    <element>
      <nsName ns="http://www.daisy.org/ns/2011/obfl">
        <except>
          <name>table-of-contents</name>
          <name>collection</name>
          <name>xml-processor</name>
          <name>layout-master</name>
          <name>renderer</name>
          <name>rendering-scenario</name>
          <name>toc-sequence</name>
          <name>rename</name>
          <name>anchor</name>
          <name>sequence</name>
          <name>dynamic-sequence</name>
          <name>xml-data</name>
          <name>toc-entry</name>
          <name>page-number</name>
          <name>list-of-references</name>
          <name>page-area</name>
          <name>item</name>
          <name>before</name>
          <name>block</name>
          <name>td</name>
          <name>after</name>
        </except>
      </nsName>
      <optional>
        <attribute name="name"><data type="NMTOKEN"/></attribute>
      </optional>
      <zeroOrMore>
        <attribute><anyName><except><name ns="">name</name></except></anyName></attribute>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="any_content"/>
      </zeroOrMore>
    </element>
    <element ns="http://www.daisy.org/ns/2011/obfl">
      <choice>
          <name>table-of-contents</name>
          <name>collection</name>
          <name>xml-processor</name>
          <name>layout-master</name>
          <name>renderer</name>
          <name>rendering-scenario</name>
          <name>toc-sequence</name>
          <name>rename</name>
          <name>anchor</name>
          <name>sequence</name>
          <name>dynamic-sequence</name>
          <name>xml-data</name>
          <name>toc-entry</name>
          <name>page-number</name>
          <name>list-of-references</name>
          <name>page-area</name>
          <name>item</name>
          <name>before</name>
          <name>block</name>
          <name>td</name>
          <name>after</name>
      </choice>
      <optional><attribute name="id"><data type="ID"/></attribute></optional>
      <optional><attribute name="collection"><data type="IDREF"/></attribute></optional>
      <optional><attribute name="ref-id"><data type="IDREF"/></attribute></optional>
      <optional><attribute name="renderer"><data type="IDREF"/></attribute></optional>
      <optional><attribute name="name"><data type="ID"/></attribute></optional>
      <optional><attribute name="master"><data type="IDREF"/></attribute></optional>
      <optional><attribute name="item"><data type="IDREF"/></attribute></optional>
      <optional><attribute name="to"><data type="ID"/></attribute></optional>
      <optional><attribute name="toc"><data type="IDREF"/></attribute></optional>
      <optional><attribute name="processor"><data type="IDREF"/></attribute></optional>
      <zeroOrMore>
        <attribute>
          <anyName>
            <except>
              <name ns="">id</name>
              <name ns="">collection</name>
              <name ns="">ref-id</name>
              <name ns="">renderer</name>
              <name ns="">name</name>
              <name ns="">master</name>
              <name ns="">item</name>
              <name ns="">to</name>
              <name ns="">toc</name>
              <name ns="">processor</name>
            </except>
          </anyName>
        </attribute>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="any_content"/>
      </zeroOrMore>
    </element>
    </choice>
  </define>
  
  <define name="any_element">
    <element>
      <anyName><except><nsName ns="http://www.daisy.org/ns/2011/obfl"></nsName></except></anyName>
      <zeroOrMore>
        <attribute>
          <anyName/>
        </attribute>
      </zeroOrMore>
      <zeroOrMore>
        <ref name="any_content"/>
      </zeroOrMore>
    </element>
  </define>

</grammar>
