src/org/daisy/dotify/impl/input/resource-files/obfl.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2012 rel. 2 sp1 (x64) (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:obfl="http://www.daisy.org/ns/2011/obfl" targetNamespace="http://www.daisy.org/ns/2011/obfl" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
	<xs:complexType name="obfl">
		<xs:sequence>
			<xs:element ref="obfl:meta" minOccurs="0"/>
			<xs:element ref="obfl:layout-master" maxOccurs="unbounded"/>
			<xs:element ref="obfl:table-of-contents" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="obfl:volume-template" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="obfl:collection" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="obfl:sequence" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="version" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="2011-1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute ref="xml:lang" use="required"/>
		<xs:attribute name="hyphenate">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="false"/>
					<xs:enumeration value="true"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="obfl" type="obfl:obfl"/>
	<xs:complexType name="meta">
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="meta" type="obfl:meta"/>
	<xs:complexType name="layout-master">
		<xs:sequence>
			<xs:element ref="obfl:template" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="obfl:default-template"/>
			<xs:element ref="obfl:page-area" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:ID" use="required"/>
		<xs:attribute name="page-width" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="page-height" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="inner-margin" type="xs:anySimpleType"/>
		<xs:attribute name="outer-margin" type="xs:anySimpleType"/>
		<xs:attribute name="row-spacing" type="xs:anySimpleType"/>
		<xs:attribute name="duplex">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="false"/>
					<xs:enumeration value="true"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="page-number-variable" type="xs:anySimpleType"/>
		<xs:attribute name="border-style">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="none"/>
					<xs:enumeration value="solid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-bottom-style">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="none"/>
					<xs:enumeration value="solid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-left-style">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="none"/>
					<xs:enumeration value="solid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-top-style">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="none"/>
					<xs:enumeration value="solid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-right-style">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="none"/>
					<xs:enumeration value="solid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-width">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-bottom-width">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-left-width">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-top-width">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-right-width">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="inner"/>
					<xs:enumeration value="outer"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-bottom-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="inner"/>
					<xs:enumeration value="outer"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-left-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="inner"/>
					<xs:enumeration value="outer"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-top-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="inner"/>
					<xs:enumeration value="outer"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-right-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="inner"/>
					<xs:enumeration value="outer"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="layout-master" type="obfl:layout-master"/>
	<xs:complexType name="template">
		<xs:sequence>
			<xs:element ref="obfl:header"/>
			<xs:element ref="obfl:footer"/>
		</xs:sequence>
		<xs:attribute name="use-when" type="xs:anySimpleType" use="required"/>
	</xs:complexType>
	<xs:element name="template" type="obfl:template"/>
	<xs:complexType name="default-template">
		<xs:sequence>
			<xs:element ref="obfl:header"/>
			<xs:element ref="obfl:footer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="default-template" type="obfl:default-template"/>
	<xs:complexType name="header">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="obfl:field"/>
		</xs:sequence>
		<xs:attribute name="row-spacing" type="xs:float"/>
	</xs:complexType>
	<xs:element name="header" type="obfl:header"/>
	<xs:complexType name="footer">
		<xs:sequence minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="obfl:field"/>
		</xs:sequence>
		<xs:attribute name="row-spacing" type="xs:float"/>
	</xs:complexType>
	<xs:element name="footer" type="obfl:footer"/>
	<xs:complexType name="field">
		<xs:choice maxOccurs="unbounded">
			<xs:element ref="obfl:marker-reference"/>
			<xs:element ref="obfl:string"/>
			<xs:element ref="obfl:current-page"/>
			<xs:element ref="obfl:evaluate"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="field" type="obfl:field"/>
	<xs:complexType name="current-page">
		<xs:attribute name="style" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="default"/>
					<xs:enumeration value="upper-roman"/>
					<xs:enumeration value="roman"/>
					<xs:enumeration value="lower-alpha"/>
					<xs:enumeration value="upper-alpha"/>
					<xs:enumeration value="lower-roman"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="current-page" type="obfl:current-page"/>
	<xs:complexType name="marker-reference">
		<xs:attribute name="marker" type="xs:NMTOKEN" use="required"/>
		<xs:attribute name="direction" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="forward"/>
					<xs:enumeration value="backward"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="scope" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="page-content"/>
					<xs:enumeration value="page"/>
					<xs:enumeration value="sequence"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="marker-reference" type="obfl:marker-reference"/>
	<xs:complexType name="string">
		<xs:attribute name="value" type="xs:anySimpleType" use="required"/>
	</xs:complexType>
	<xs:element name="string" type="obfl:string"/>
	<xs:complexType name="evaluate">
		<xs:attribute name="expression" type="xs:anySimpleType" use="required"/>
	</xs:complexType>
	<xs:element name="evaluate" type="obfl:evaluate"/>
	<xs:complexType name="table-of-contents">
		<xs:sequence>
			<xs:element ref="obfl:toc-entry" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:element name="table-of-contents" type="obfl:table-of-contents"/>
	<xs:complexType name="toc-entry" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="obfl:leader"/>
			<xs:element ref="obfl:marker"/>
			<xs:element ref="obfl:br"/>
			<xs:element ref="obfl:evaluate"/>
			<xs:element ref="obfl:page-number"/>
			<xs:element ref="obfl:span"/>
			<xs:element ref="obfl:style"/>
			<xs:element ref="obfl:toc-entry"/>
		</xs:choice>
		<xs:attribute name="ref-id" type="xs:IDREF" use="required"/>
		<xs:attribute name="break-before">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="auto"/>
					<xs:enumeration value="page"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="first-line-indent" type="xs:anySimpleType"/>
		<xs:attribute name="keep">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="auto"/>
					<xs:enumeration value="all"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="keep-with-next">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="keep-with-previous-sheets">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="keep-with-next-sheets">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="list-type">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="ul"/>
					<xs:enumeration value="ol"/>
					<xs:enumeration value="none"/>
					<xs:enumeration value="pl"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="margin-bottom" type="xs:anySimpleType"/>
		<xs:attribute name="margin-left" type="xs:anySimpleType"/>
		<xs:attribute name="margin-top" type="xs:anySimpleType"/>
		<xs:attribute name="margin-right" type="xs:anySimpleType"/>
		<xs:attribute name="text-indent" type="xs:anySimpleType"/>
		<xs:attribute name="block-indent" type="xs:anySimpleType"/>
		<xs:attribute name="align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="right"/>
					<xs:enumeration value="center"/>
					<xs:enumeration value="left"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="vertical-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="after"/>
					<xs:enumeration value="center"/>
					<xs:enumeration value="before"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="vertical-position" type="xs:anySimpleType"/>
		<xs:attribute name="id" type="xs:ID"/>
		<xs:attribute name="row-spacing" type="xs:float"/>
		<xs:attribute name="border-style">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="none"/>
					<xs:enumeration value="solid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-bottom-style">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="none"/>
					<xs:enumeration value="solid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-left-style">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="none"/>
					<xs:enumeration value="solid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-top-style">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="none"/>
					<xs:enumeration value="solid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-right-style">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="none"/>
					<xs:enumeration value="solid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-width">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-bottom-width">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-left-width">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-top-width">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-right-width">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="inner"/>
					<xs:enumeration value="outer"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-bottom-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="inner"/>
					<xs:enumeration value="outer"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-left-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="inner"/>
					<xs:enumeration value="outer"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-top-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="inner"/>
					<xs:enumeration value="outer"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-right-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="inner"/>
					<xs:enumeration value="outer"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="hyphenate">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="false"/>
					<xs:enumeration value="true"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="toc-entry" type="obfl:toc-entry"/>
	<xs:complexType name="volume-template">
		<xs:sequence>
			<xs:element ref="obfl:pre-content"/>
			<xs:element ref="obfl:post-content"/>
		</xs:sequence>
		<xs:attribute name="use-when" type="xs:anySimpleType"/>
		<xs:attribute name="volume-number-variable" type="xs:anySimpleType"/>
		<xs:attribute name="volume-count-variable" type="xs:anySimpleType"/>
		<xs:attribute name="sheets-in-volume-max" type="xs:int" use="required"/>
	</xs:complexType>
	<xs:element name="volume-template" type="obfl:volume-template"/>
	<xs:complexType name="pre-content">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="obfl:sequence"/>
			<xs:element ref="obfl:dynamic-sequence"/>
			<xs:element ref="obfl:toc-sequence"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="pre-content" type="obfl:pre-content"/>
	<xs:complexType name="post-content">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="obfl:sequence"/>
			<xs:element ref="obfl:dynamic-sequence"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="post-content" type="obfl:post-content"/>
	<xs:complexType name="toc-sequence">
		<xs:sequence>
			<xs:element ref="obfl:on-toc-start" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="obfl:on-volume-start" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="obfl:on-volume-end" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="obfl:on-toc-end" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="toc" type="xs:IDREF" use="required"/>
		<xs:attribute name="range" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="volume"/>
					<xs:enumeration value="document"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="master" type="xs:IDREF" use="required"/>
		<xs:attribute name="initial-page-number" type="xs:anySimpleType"/>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="hyphenate">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="false"/>
					<xs:enumeration value="true"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="toc-sequence" type="obfl:toc-sequence"/>
	<xs:complexType name="on-toc-start">
		<xs:sequence>
			<xs:element ref="obfl:block" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="use-when" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="on-toc-start" type="obfl:on-toc-start"/>
	<xs:complexType name="on-volume-start">
		<xs:sequence>
			<xs:element ref="obfl:block" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="use-when" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="on-volume-start" type="obfl:on-volume-start"/>
	<xs:complexType name="on-volume-end">
		<xs:sequence>
			<xs:element ref="obfl:block" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="use-when" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="on-volume-end" type="obfl:on-volume-end"/>
	<xs:complexType name="on-toc-end">
		<xs:sequence>
			<xs:element ref="obfl:block" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="use-when" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="on-toc-end" type="obfl:on-toc-end"/>
	<xs:complexType name="list-of-references">
		<xs:sequence>
			<xs:element ref="obfl:on-collection-start" minOccurs="0"/>
			<xs:element ref="obfl:on-page-start" minOccurs="0"/>
			<xs:element ref="obfl:on-page-end" minOccurs="0"/>
			<xs:element ref="obfl:on-collection-end" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="collection" type="xs:IDREF" use="required"/>
		<xs:attribute name="range" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="volume"/>
					<xs:enumeration value="document"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="list-of-references" type="obfl:list-of-references"/>
	<xs:complexType name="on-collection-start">
		<xs:sequence>
			<xs:element ref="obfl:block" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="on-collection-start" type="obfl:on-collection-start"/>
	<xs:complexType name="on-collection-end">
		<xs:sequence>
			<xs:element ref="obfl:block" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="on-collection-end" type="obfl:on-collection-end"/>
	<xs:complexType name="on-page-start">
		<xs:sequence>
			<xs:element ref="obfl:block" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="on-page-start" type="obfl:on-page-start"/>
	<xs:complexType name="on-page-end">
		<xs:sequence>
			<xs:element ref="obfl:block" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="on-page-end" type="obfl:on-page-end"/>
	<xs:complexType name="dynamic-sequence">
		<xs:choice maxOccurs="unbounded">
			<xs:element ref="obfl:block"/>
			<xs:element ref="obfl:list-of-references"/>
		</xs:choice>
		<xs:attribute name="master" type="xs:IDREF" use="required"/>
		<xs:attribute name="initial-page-number" type="xs:anySimpleType"/>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="hyphenate">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="false"/>
					<xs:enumeration value="true"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="dynamic-sequence" type="obfl:dynamic-sequence"/>
	<xs:complexType name="sequence">
		<xs:sequence>
			<xs:element ref="obfl:block" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="master" type="xs:IDREF" use="required"/>
		<xs:attribute name="initial-page-number" type="xs:anySimpleType"/>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="hyphenate">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="false"/>
					<xs:enumeration value="true"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="sequence" type="obfl:sequence"/>
	<xs:complexType name="page-area">
		<xs:sequence>
			<xs:element ref="obfl:fallback" minOccurs="0"/>
			<xs:element ref="obfl:before" minOccurs="0"/>
			<xs:element ref="obfl:after" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="top"/>
					<xs:enumeration value="bottom"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="collection" type="xs:IDREF" use="required"/>
		<xs:attribute name="max-height" type="xs:int" use="required"/>
	</xs:complexType>
	<xs:element name="page-area" type="obfl:page-area"/>
	<xs:complexType name="fallback">
		<xs:choice minOccurs="1" maxOccurs="unbounded">
			<xs:element ref="obfl:rename"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="fallback" type="obfl:fallback"/>
	<xs:complexType name="rename">
		<xs:attribute name="collection" type="xs:IDREF" use="required"/>
		<xs:attribute name="to" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:element name="rename" type="obfl:rename"/>
	<xs:complexType name="before" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="obfl:leader"/>
			<xs:element ref="obfl:marker"/>
			<xs:element ref="obfl:br"/>
			<xs:element ref="obfl:evaluate"/>
			<xs:element ref="obfl:page-number"/>
			<xs:element ref="obfl:span"/>
			<xs:element ref="obfl:style"/>
			<xs:element ref="obfl:block"/>
		</xs:choice>
		<xs:attribute name="break-before">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="auto"/>
					<xs:enumeration value="page"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="first-line-indent" type="xs:anySimpleType"/>
		<xs:attribute name="keep">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="auto"/>
					<xs:enumeration value="all"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="keep-with-next">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="keep-with-previous-sheets">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="keep-with-next-sheets">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="list-type">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="ul"/>
					<xs:enumeration value="ol"/>
					<xs:enumeration value="none"/>
					<xs:enumeration value="pl"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="margin-bottom" type="xs:anySimpleType"/>
		<xs:attribute name="margin-left" type="xs:anySimpleType"/>
		<xs:attribute name="margin-top" type="xs:anySimpleType"/>
		<xs:attribute name="margin-right" type="xs:anySimpleType"/>
		<xs:attribute name="text-indent" type="xs:anySimpleType"/>
		<xs:attribute name="block-indent" type="xs:anySimpleType"/>
		<xs:attribute name="align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="right"/>
					<xs:enumeration value="center"/>
					<xs:enumeration value="left"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="vertical-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="after"/>
					<xs:enumeration value="center"/>
					<xs:enumeration value="before"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="vertical-position" type="xs:anySimpleType"/>
		<xs:attribute name="id" type="xs:ID"/>
		<xs:attribute name="row-spacing" type="xs:anySimpleType"/>
		<xs:attribute name="border-style">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="none"/>
					<xs:enumeration value="solid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-bottom-style">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="none"/>
					<xs:enumeration value="solid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-left-style">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="none"/>
					<xs:enumeration value="solid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-top-style">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="none"/>
					<xs:enumeration value="solid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-right-style">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="none"/>
					<xs:enumeration value="solid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-width">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-bottom-width">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-left-width">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-top-width">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-right-width">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="inner"/>
					<xs:enumeration value="outer"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-bottom-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="inner"/>
					<xs:enumeration value="outer"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-left-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="inner"/>
					<xs:enumeration value="outer"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-top-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="inner"/>
					<xs:enumeration value="outer"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-right-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="inner"/>
					<xs:enumeration value="outer"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="hyphenate">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="false"/>
					<xs:enumeration value="true"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="before" type="obfl:before"/>
	<xs:complexType name="after" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="obfl:leader"/>
			<xs:element ref="obfl:marker"/>
			<xs:element ref="obfl:br"/>
			<xs:element ref="obfl:evaluate"/>
			<xs:element ref="obfl:page-number"/>
			<xs:element ref="obfl:span"/>
			<xs:element ref="obfl:style"/>
			<xs:element ref="obfl:block"/>
		</xs:choice>
		<xs:attribute name="break-before">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="auto"/>
					<xs:enumeration value="page"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="first-line-indent" type="xs:anySimpleType"/>
		<xs:attribute name="keep">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="auto"/>
					<xs:enumeration value="all"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="keep-with-next">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="keep-with-previous-sheets">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="keep-with-next-sheets">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="list-type">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="ul"/>
					<xs:enumeration value="ol"/>
					<xs:enumeration value="none"/>
					<xs:enumeration value="pl"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="margin-bottom" type="xs:anySimpleType"/>
		<xs:attribute name="margin-left" type="xs:anySimpleType"/>
		<xs:attribute name="margin-top" type="xs:anySimpleType"/>
		<xs:attribute name="margin-right" type="xs:anySimpleType"/>
		<xs:attribute name="text-indent" type="xs:anySimpleType"/>
		<xs:attribute name="block-indent" type="xs:anySimpleType"/>
		<xs:attribute name="align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="right"/>
					<xs:enumeration value="center"/>
					<xs:enumeration value="left"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="vertical-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="after"/>
					<xs:enumeration value="center"/>
					<xs:enumeration value="before"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="vertical-position" type="xs:anySimpleType"/>
		<xs:attribute name="id" type="xs:ID"/>
		<xs:attribute name="row-spacing" type="xs:anySimpleType"/>
		<xs:attribute name="border-style">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="none"/>
					<xs:enumeration value="solid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-bottom-style">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="none"/>
					<xs:enumeration value="solid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-left-style">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="none"/>
					<xs:enumeration value="solid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-top-style">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="none"/>
					<xs:enumeration value="solid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-right-style">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="none"/>
					<xs:enumeration value="solid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-width">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-bottom-width">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-left-width">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-top-width">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-right-width">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="inner"/>
					<xs:enumeration value="outer"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-bottom-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="inner"/>
					<xs:enumeration value="outer"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-left-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="inner"/>
					<xs:enumeration value="outer"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-top-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="inner"/>
					<xs:enumeration value="outer"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-right-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="inner"/>
					<xs:enumeration value="outer"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="hyphenate">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="false"/>
					<xs:enumeration value="true"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="after" type="obfl:after"/>
	<xs:complexType name="collection">
		<xs:sequence>
			<xs:element ref="obfl:item" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:ID" use="required"/>
	</xs:complexType>
	<xs:element name="collection" type="obfl:collection"/>
	<xs:complexType name="block" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="obfl:leader"/>
			<xs:element ref="obfl:marker"/>
			<xs:element ref="obfl:br"/>
			<xs:element ref="obfl:evaluate"/>
			<xs:element ref="obfl:page-number"/>
			<xs:element ref="obfl:span"/>
			<xs:element ref="obfl:style"/>
			<xs:element ref="obfl:anchor"/>
			<xs:element ref="obfl:block"/>
		</xs:choice>
		<xs:attribute name="break-before">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="auto"/>
					<xs:enumeration value="page"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="first-line-indent" type="xs:anySimpleType"/>
		<xs:attribute name="keep">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="auto"/>
					<xs:enumeration value="all"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="keep-with-next">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="keep-with-previous-sheets">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="keep-with-next-sheets">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="list-type">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="ul"/>
					<xs:enumeration value="ol"/>
					<xs:enumeration value="none"/>
					<xs:enumeration value="pl"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="margin-bottom" type="xs:anySimpleType"/>
		<xs:attribute name="margin-left" type="xs:anySimpleType"/>
		<xs:attribute name="margin-top" type="xs:anySimpleType"/>
		<xs:attribute name="margin-right" type="xs:anySimpleType"/>
		<xs:attribute name="text-indent" type="xs:anySimpleType"/>
		<xs:attribute name="block-indent" type="xs:anySimpleType"/>
		<xs:attribute name="align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="left"/>
					<xs:enumeration value="center"/>
					<xs:enumeration value="right"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="vertical-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="before"/>
					<xs:enumeration value="center"/>
					<xs:enumeration value="after"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="vertical-position" type="xs:anySimpleType"/>
		<xs:attribute name="id" type="xs:ID"/>
		<xs:attribute name="row-spacing" type="xs:float"/>
		<xs:attribute name="border-style">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="none"/>
					<xs:enumeration value="solid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-bottom-style">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="none"/>
					<xs:enumeration value="solid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-left-style">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="none"/>
					<xs:enumeration value="solid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-top-style">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="none"/>
					<xs:enumeration value="solid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-right-style">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="none"/>
					<xs:enumeration value="solid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-width">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-bottom-width">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-left-width">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-top-width">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-right-width">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="inner"/>
					<xs:enumeration value="outer"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-bottom-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="inner"/>
					<xs:enumeration value="outer"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-left-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="inner"/>
					<xs:enumeration value="outer"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-top-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="inner"/>
					<xs:enumeration value="outer"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-right-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="inner"/>
					<xs:enumeration value="outer"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="hyphenate">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="false"/>
					<xs:enumeration value="true"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="block" type="obfl:block"/>
	<xs:complexType name="item" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="obfl:leader"/>
			<xs:element ref="obfl:marker"/>
			<xs:element ref="obfl:br"/>
			<xs:element ref="obfl:evaluate"/>
			<xs:element ref="obfl:page-number"/>
			<xs:element ref="obfl:span"/>
			<xs:element ref="obfl:style"/>
			<xs:element ref="obfl:block"/>
		</xs:choice>
		<xs:attribute name="id" type="xs:ID" use="required"/>
		<xs:attribute name="break-before">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="auto"/>
					<xs:enumeration value="page"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="first-line-indent" type="xs:anySimpleType"/>
		<xs:attribute name="keep">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="auto"/>
					<xs:enumeration value="all"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="keep-with-next">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="keep-with-previous-sheets">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="keep-with-next-sheets">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="list-type">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="ul"/>
					<xs:enumeration value="ol"/>
					<xs:enumeration value="none"/>
					<xs:enumeration value="pl"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="margin-bottom" type="xs:anySimpleType"/>
		<xs:attribute name="margin-left" type="xs:anySimpleType"/>
		<xs:attribute name="margin-top" type="xs:anySimpleType"/>
		<xs:attribute name="margin-right" type="xs:anySimpleType"/>
		<xs:attribute name="text-indent" type="xs:anySimpleType"/>
		<xs:attribute name="block-indent" type="xs:anySimpleType"/>
		<xs:attribute name="align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="right"/>
					<xs:enumeration value="center"/>
					<xs:enumeration value="left"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="vertical-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="after"/>
					<xs:enumeration value="center"/>
					<xs:enumeration value="before"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="vertical-position" type="xs:anySimpleType"/>
		<xs:attribute name="row-spacing" type="xs:anySimpleType"/>
		<xs:attribute name="border-style">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="none"/>
					<xs:enumeration value="solid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-bottom-style">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="none"/>
					<xs:enumeration value="solid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-left-style">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="none"/>
					<xs:enumeration value="solid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-top-style">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="none"/>
					<xs:enumeration value="solid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-right-style">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="none"/>
					<xs:enumeration value="solid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-width">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-bottom-width">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-left-width">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-top-width">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-right-width">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="7"/>
					<xs:enumeration value="8"/>
					<xs:enumeration value="9"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
					<xs:enumeration value="5"/>
					<xs:enumeration value="6"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="inner"/>
					<xs:enumeration value="outer"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-bottom-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="inner"/>
					<xs:enumeration value="outer"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-left-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="inner"/>
					<xs:enumeration value="outer"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-top-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="inner"/>
					<xs:enumeration value="outer"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="border-right-align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="inner"/>
					<xs:enumeration value="outer"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="hyphenate">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="false"/>
					<xs:enumeration value="true"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="item" type="obfl:item"/>
	<xs:complexType name="span" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="obfl:style"/>
			<xs:element ref="obfl:anchor"/>
		</xs:choice>
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="hyphenate">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="false"/>
					<xs:enumeration value="true"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="span" type="obfl:span"/>
	<xs:complexType name="style" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="obfl:style"/>
			<xs:element ref="obfl:marker"/>
			<xs:element ref="obfl:br"/>
			<xs:element ref="obfl:anchor"/>
		</xs:choice>
		<xs:attribute name="name" type="xs:NMTOKEN" use="required"/>
	</xs:complexType>
	<xs:element name="style" type="obfl:style"/>
	<xs:complexType name="marker">
		<xs:attribute name="class" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="value" type="xs:anySimpleType" use="required"/>
	</xs:complexType>
	<xs:element name="marker" type="obfl:marker"/>
	<xs:complexType name="leader">
		<xs:attribute name="align">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="right"/>
					<xs:enumeration value="center"/>
					<xs:enumeration value="left"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="pattern" type="xs:anySimpleType"/>
		<xs:attribute name="position" type="xs:anySimpleType" use="required"/>
	</xs:complexType>
	<xs:element name="leader" type="obfl:leader"/>
	<xs:complexType name="anchor">
		<xs:attribute name="item" type="xs:IDREF" use="required"/>
	</xs:complexType>
	<xs:element name="anchor" type="obfl:anchor"/>
	<xs:complexType name="br"/>
	<xs:element name="br" type="obfl:br"/>
	<xs:complexType name="page-number">
		<xs:attribute name="ref-id" type="xs:IDREF" use="required"/>
		<xs:attribute name="style">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="default"/>
					<xs:enumeration value="upper-roman"/>
					<xs:enumeration value="roman"/>
					<xs:enumeration value="lower-alpha"/>
					<xs:enumeration value="upper-alpha"/>
					<xs:enumeration value="lower-roman"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="page-number" type="obfl:page-number"/>
</xs:schema>
