modules/zedai-utils/src/main/resources/xml/schema/z3998-book-1.0/mod/z3998-time.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:z="http://www.daisy.org/ns/z3998/annotations/#"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         xmlns:sch="http://purl.oclc.org/dsdl/schematron"
         xmlns:db="http://docbook.org/ns/docbook"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         ns="http://www.daisy.org/ns/z3998/authoring/">
    <info xmlns="http://docbook.org/ns/docbook" xml:lang="en">
        <title>The time module </title>
        <annotation annotates="/">
            <para>This module defines the time element and the time attribute for including dates and times in human- and machine-readable forms. </para>
            <para>More information about this module is available at http://www.daisy.org/z3998/2012/auth/cm/#z3998.time.module</para>
        </annotation>
        <author>
            <personname>Markus Gylling</personname>
            <email>mgylling@daisy.org</email>
        </author>
        <copyright>
            <year>2009</year>
            <year>2010</year>
            <year>2011</year>
            <year>2012</year>
            <holder>DAISY Consortium</holder>
        </copyright>
        <legalnotice>
            <para>This module is licensed under a Creative Commons Attribution 3.0 license, a copy of which is available at 
                <link xlink:href="http://creativecommons.org/licenses/by/3.0/">http://creativecommons.org/licenses/by/3.0/</link>
            </para>
            <para>For complete licensing information, please refer to the LICENSE file that came with this distribution, a copy of which is also available from the DAISY web site at 
                <link xlink:href="http://www.daisy.org">www.daisy.org</link>
            </para>
        </legalnotice>
        <revhistory>
            <revision>
                <date>2012-12-19</date>
                <authorinitials>MGy</authorinitials>
                <revdescription>
                    <para>Initial version</para>
                </revdescription>
            </revision>
        </revhistory>
    </info>
    <div>
        <define name="z3998.time">
            <element name="time">
                <a:documentation>The time element represents a calendar or clock-based statement of time. If the value of the time element is not in a machine-readable format, the time attribute optionally allows the inclusion of an alternate representation. </a:documentation>
                <ref name="z3998.time.attlist"/>
                <ref name="z3998.time.content"/>
                <sch:rule context="default:time">
                    <sch:assert test="not(descendant::default:time)">The time element must not contain descendant time elements. </sch:assert>
                    <sch:assert test="normalize-space(.) or *">The time element must neither be empty nor contain only whitespace. </sch:assert>
                </sch:rule>
            </element>
        </define>
        <define name="z3998.time.attlist">
            <ref name="z3998.Phrase.attrib"/>
            <optional>
                <ref name="z3998.time.attrib"/>
            </optional>
        </define>
        <define name="z3998.time.content">
            <ref name="z3998.Text.model"/>
        </define>
        <define name="z3998.time.attrib">
            <attribute name="time">
                <a:documentation>The time attribute contains a calendar or clock-based statement of time expressed in machine-readable form. When this attribute appears on the time element, it contains an alternate rendition of the element's content. The time attribute value must be valid to the Time.datatype datatype. </a:documentation>
                <ref name="Time.datatype"/>
            </attribute>
        </define>
    </div>
    <div>
        <a:documentation>time - default content model contribution </a:documentation>
        <define name="z3998.Phrase.core.class" combine="choice">
            <ref name="z3998.time"/>
        </define>
    </div>
</grammar>