modules/zedai-utils/src/main/resources/xml/schema/z3998-book-1.0/mod/z3998-caption.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:z="http://www.daisy.org/ns/z3998/annotations/#"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         xmlns:sch="http://purl.oclc.org/dsdl/schematron"
         xmlns:db="http://docbook.org/ns/docbook"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         ns="http://www.daisy.org/ns/z3998/authoring/">
    <info xmlns="http://docbook.org/ns/docbook" xml:lang="en">
        <title>The caption module </title>
        <annotation annotates="/">
            <para>This module defines the caption element for adding titles and/or explanatory information to elements. </para>
            <para>More information about this module is available at http://www.daisy.org/z3998/2012/auth/cm/#z3998.caption.module</para>
        </annotation>
        <author>
            <personname>Markus Gylling</personname>
            <email>mgylling@daisy.org</email>
        </author>
        <copyright>
            <year>2009</year>
            <year>2010</year>
            <year>2011</year>
            <year>2012</year>
            <holder>DAISY Consortium</holder>
        </copyright>
        <legalnotice>
            <para>This module is licensed under a Creative Commons Attribution 3.0 license, a copy of which is available at 
                <link xlink:href="http://creativecommons.org/licenses/by/3.0/">http://creativecommons.org/licenses/by/3.0/</link>
            </para>
            <para>For complete licensing information, please refer to the LICENSE file that came with this distribution, a copy of which is also available from the DAISY web site at 
                <link xlink:href="http://www.daisy.org">www.daisy.org</link>
            </para>
        </legalnotice>
        <revhistory>
            <revision>
                <date>2012-12-19</date>
                <authorinitials>MGy</authorinitials>
                <revdescription>
                    <para>Initial version</para>
                </revdescription>
            </revision>
        </revhistory>
    </info>
    <div>
        <define name="z3998.caption">
            <element name="caption">
                <a:documentation>The caption element represents a short explanation or description accompanying a component of a publication. Captions most often occur in conjunction with illustrations, photographs, tables and diagrams. The ref attribute identifies the component(s) to which the caption applies. </a:documentation>
                <ref name="z3998.caption.attlist"/>
                <ref name="z3998.caption.content"/>
                <sch:rule context="default:caption">
                    <sch:assert test="not(child::default:caption)">The caption element must not contain child caption elements. </sch:assert>
                    <sch:assert test="normalize-space(.) or *">The caption element must neither be empty nor contain only whitespace. </sch:assert>
                </sch:rule>
            </element>
        </define>
        <define name="z3998.caption.attlist">
            <ref name="z3998.Block.attrib"/>
            <optional>
                <ref name="z3998.ref.attrib"/>
            </optional>
        </define>
        <define name="z3998.caption.content">
            <ref name="z3998.Flow.choice.model"/>
        </define>
    </div>
    <div>
        <a:documentation>caption - default content model contribution </a:documentation>
        <define name="z3998.Block.core.class" combine="choice">
            <ref name="z3998.caption"/>
        </define>
    </div>
</grammar>