modules/zedai-utils/src/main/resources/xml/schema/z3998-book-1.0/mod/z3998-p.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:z="http://www.daisy.org/ns/z3998/annotations/#"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         xmlns:sch="http://purl.oclc.org/dsdl/schematron"
         xmlns:db="http://docbook.org/ns/docbook"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         ns="http://www.daisy.org/ns/z3998/authoring/">
    <info xmlns="http://docbook.org/ns/docbook" xml:lang="en">
        <title>The paragraph module </title>
        <annotation annotates="/">
            <para>This module defines the p element for distinguishing paragraphs of text. </para>
            <para>More information about this module is available at http://www.daisy.org/z3998/2012/auth/cm/#z3998.p.module</para>
        </annotation>
        <author>
            <personname>Markus Gylling</personname>
            <email>mgylling@daisy.org</email>
        </author>
        <copyright>
            <year>2009</year>
            <year>2010</year>
            <year>2011</year>
            <year>2012</year>
            <holder>DAISY Consortium</holder>
        </copyright>
        <legalnotice>
            <para>This module is licensed under a Creative Commons Attribution 3.0 license, a copy of which is available at 
                <link xlink:href="http://creativecommons.org/licenses/by/3.0/">http://creativecommons.org/licenses/by/3.0/</link>
            </para>
            <para>For complete licensing information, please refer to the LICENSE file that came with this distribution, a copy of which is also available from the DAISY web site at 
                <link xlink:href="http://www.daisy.org">www.daisy.org</link>
            </para>
        </legalnotice>
        <revhistory>
            <revision>
                <date>2012-12-19</date>
                <authorinitials>MGy</authorinitials>
                <revdescription>
                    <para>Initial version</para>
                </revdescription>
            </revision>
        </revhistory>
    </info>
    <div>
        <define name="z3998.p">
            <element name="p">
                <a:documentation>The p element represents a paragraph of text consisting of one or several sentences. The class attribute together with a CSS stylesheet should be used to retain any formatting information specific to a paragraph, such as first line indenting. When print layout has to be strictly followed in converting a document to electronic format, paragraphs may be split by other elements such as full page images. Refer to the continuation attribute for more information on how to indicate that two p elements actually constitute a single whole. </a:documentation>
                <ref name="z3998.p.attlist"/>
                <ref name="z3998.p.content"/>
                <sch:rule context="default:p">
                    <sch:assert test="normalize-space(.) or *">The p element must neither be empty nor contain only whitespace. </sch:assert>
                </sch:rule>
            </element>
        </define>
        <define name="z3998.p.attlist">
            <ref name="z3998.Block.attrib"/>
        </define>
        <define name="z3998.p.content">
            <ref name="z3998.Phrase.Text.mix.model"/>
        </define>
    </div>
    <div>
        <a:documentation>p - default content model contribution </a:documentation>
        <define name="z3998.Block.core.class" combine="choice">
            <ref name="z3998.p"/>
        </define>
        <define name="z3998.Block.basic.model" combine="choice">
            <ref name="z3998.p"/>
        </define>
    </div>
</grammar>