modules/zedai-utils/src/main/resources/xml/schema/z3998-book-1.0/mod/z3998-quote.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:z="http://www.daisy.org/ns/z3998/annotations/#"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         xmlns:sch="http://purl.oclc.org/dsdl/schematron"
         xmlns:db="http://docbook.org/ns/docbook"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         ns="http://www.daisy.org/ns/z3998/authoring/">
    <info xmlns="http://docbook.org/ns/docbook" xml:lang="en">
        <title>The quote module </title>
        <annotation annotates="/">
            <para>This module defines the quote.block element for indicating text reproduced from another source. </para>
            <para>Two variants of the quote element are available: one for use in a Block context and a second for use in a Phrase context. </para>
            <para>More information about this module is available at http://www.daisy.org/z3998/2012/auth/cm/#z3998.quote.module</para>
        </annotation>
        <author>
            <personname>Markus Gylling</personname>
            <email>mgylling@daisy.org</email>
        </author>
        <copyright>
            <year>2009</year>
            <year>2010</year>
            <year>2011</year>
            <year>2012</year>
            <holder>DAISY Consortium</holder>
        </copyright>
        <legalnotice>
            <para>This module is licensed under a Creative Commons Attribution 3.0 license, a copy of which is available at 
                <link xlink:href="http://creativecommons.org/licenses/by/3.0/">http://creativecommons.org/licenses/by/3.0/</link>
            </para>
            <para>For complete licensing information, please refer to the LICENSE file that came with this distribution, a copy of which is also available from the DAISY web site at 
                <link xlink:href="http://www.daisy.org">www.daisy.org</link>
            </para>
        </legalnotice>
        <revhistory>
            <revision>
                <date>2012-12-19</date>
                <authorinitials>MGy</authorinitials>
                <revdescription>
                    <para>Initial version</para>
                </revdescription>
            </revision>
        </revhistory>
    </info>
    <div>
        <define name="z3998.quote.block">
            <element name="quote">
                <a:documentation>The quote element represents a quotation from a real or fictitious source. When citing the source of a quotation, the citation must be explicitly linked to the quote by means of the ref attribute. If a quote element contains only a single child citation element, and the citation does not contain a ref attribute or child ref element, the association between the two elements is implied. The role attribute optionally expresses the semantic nature of the quote. The role value epigraph, for example, indicates the quoted passage or verse represents an epigraph for the document or section. </a:documentation>
                <ref name="z3998.quote.block.attlist"/>
                <ref name="z3998.quote.block.content"/>
                <sch:rule context="default:quote">
                    <sch:assert test="normalize-space(.) or *">The quote element must neither be empty nor contain only whitespace. </sch:assert>
                </sch:rule>
            </element>
        </define>
        <define name="z3998.quote.block.attlist">
            <ref name="z3998.Block.attrib"/>
        </define>
        <define name="z3998.quote.block.content">
            <choice>
                <oneOrMore>
                    <choice>
                        <a:documentation>specialize the block model to allow linegroups and lines </a:documentation>
                        <ref name="z3998.Block.class"/>
                        <ref name="z3998.Global.extra.class"/>
                        <ref name="z3998.lngroup"/>
                        <ref name="z3998.ln"/>
                    </choice>
                </oneOrMore>
                <ref name="z3998.Phrase.Text.mix.model"/>
            </choice>
        </define>
    </div>
    <div>
        <define name="z3998.quote.phrase">
            <element name="quote">
                <a:documentation>The quote element represents a quotation from a real or fictitious source. When citing the source of a quotation, the citation must be explicitly linked to the quote by means of the ref attribute. If a quote element contains only a single child citation element, and the citation does not contain a ref attribute or child ref element, the association between the two elements is implied. The role attribute optionally expresses the semantic nature of the quote. The role value epigraph, for example, indicates the quoted passage or verse represents an epigraph for the document or section. Quotation marks should be included within the element if they must be retained in the file. The use of CSS for appending these characters is recommended, however, for the flexibility it allows to change the characters depending on the desired output. </a:documentation>
                <ref name="z3998.quote.phrase.attlist"/>
                <ref name="z3998.quote.phrase.content"/>
            </element>
        </define>
        <define name="z3998.quote.phrase.attlist">
            <ref name="z3998.Phrase.attrib"/>
        </define>
        <define name="z3998.quote.phrase.content">
            <ref name="z3998.Phrase.Text.mix.model"/>
        </define>
    </div>
    <div>
        <a:documentation>quote - default content model contribution </a:documentation>
        <define name="z3998.Block.core.class" combine="choice">
            <ref name="z3998.quote.block"/>
        </define>
        <define name="z3998.Phrase.variant.class" combine="choice">
            <ref name="z3998.quote.phrase"/>
        </define>
    </div>
</grammar>