modules/zedai-utils/src/main/resources/xml/schema/z3998-book-1.0/mod/z3998-char.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:z="http://www.daisy.org/ns/z3998/annotations/#"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         xmlns:db="http://docbook.org/ns/docbook"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         ns="http://www.daisy.org/ns/z3998/authoring/"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <info xmlns="http://docbook.org/ns/docbook" xml:lang="en">
        <title>The char module </title>
        <annotation annotates="/">
            <para>This module defines the char element for inserting unique character data into a document. </para>
            <para>More information about this module is available at http://www.daisy.org/z3998/2012/auth/cm/#z3998.char.module</para>
        </annotation>
        <author>
            <personname>Markus Gylling</personname>
            <email>mgylling@daisy.org</email>
        </author>
        <copyright>
            <year>2009</year>
            <year>2010</year>
            <year>2011</year>
            <year>2012</year>
            <holder>DAISY Consortium</holder>
        </copyright>
        <legalnotice>
            <para>This module is licensed under a Creative Commons Attribution 3.0 license, a copy of which is available at 
                <link xlink:href="http://creativecommons.org/licenses/by/3.0/">http://creativecommons.org/licenses/by/3.0/</link>
            </para>
            <para>For complete licensing information, please refer to the LICENSE file that came with this distribution, a copy of which is also available from the DAISY web site at 
                <link xlink:href="http://www.daisy.org">www.daisy.org</link>
            </para>
        </legalnotice>
        <revhistory>
            <revision>
                <date>2012-12-19</date>
                <authorinitials>MGy</authorinitials>
                <revdescription>
                    <para>Initial version</para>
                </revdescription>
            </revision>
        </revhistory>
    </info>
    <div>
        <define name="z3998.char">
            <element name="char">
                <a:documentation>The char element represents a single instance of a special character or a character with no Unicode equivalent. The char element can contain either a single character or a object tag, for characters and symbols that require special typesetting or display (e.g. ornamented initials at the start of chapters). </a:documentation>
                <ref name="z3998.char.attlist"/>
                <ref name="z3998.char.content"/>
            </element>
        </define>
        <define name="z3998.char.attlist" combine="interleave">
            <ref name="z3998.Text.attrib"/>
        </define>
        <define name="z3998.char.content">
            <choice>
                <ref name="Character.datatype"/>
                <ref name="z3998.char.class"/>
            </choice>
        </define>
        <define name="z3998.char.class" combine="choice">
            <notAllowed/>
        </define>
    </div>
    <div>
        <a:documentation>char - default content model contribution </a:documentation>
        <define name="z3998.Text.core.class" combine="choice">
            <ref name="z3998.char"/>
        </define>
    </div>
</grammar>