framework/webservice/src/main/resources/org/daisy/pipeline/webservice/resources/client/clientElement.rnc

default namespace = "http://www.daisy.org/ns/pipeline/data"
include "../base/priority.rnc"
client = 
    element client {
        attribute id { text }?
        & attribute href { xsd:anyURI }?
        & attribute secret { text }
        & attribute role { text }
        & attribute contact { text }
        & attribute priority { priority }?
    }
