modules/zedai-utils/src/main/resources/xml/schema/z3998-book-1.0-latest/mod/xlink.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         xmlns:db="http://docbook.org/ns/docbook"
         ns="http://www.daisy.org/ns/z3998/authoring/">
    <info xmlns="http://docbook.org/ns/docbook" xml:lang="en">
        <title>The XLink attributes module </title>
        <annotation annotates="/">
            <para>This module defines the xlink attributes collection, as defined by W3C XLink . </para>
            <para>Compliant Z39.98-AI processing agents must comply to the Simple Conformance definition in XLink. </para>
            <para>Note also that in its default state, the xlink attribute collection does not include the xlink:role and xlink:arcrole attributes, as the functionality of these attributes is covered by the globally available Rdfa and role . </para>
            <para>More information about this module is available at http://www.daisy.org/z3998/2012/auth/cm/#xlink.module</para>
        </annotation>
        <author>
            <personname>Markus Gylling</personname>
            <email>mgylling@daisy.org</email>
        </author>
        <legalnotice>
            <para>Copyright 1998-2010 W3C (MIT, ERCIM, Keio), All Rights Reserved. Permission to use, copy, modify and distribute the XLink schema and its accompanying documentation for any purpose and without fee is hereby granted in perpetuity, provided that the above copyright notice and this paragraph appear in all copies.</para>
        </legalnotice>
        <revhistory>
            <revision>
                <date>2012-12-19</date>
                <authorinitials>MGy</authorinitials>
                <revdescription>
                    <para>Initial version</para>
                </revdescription>
            </revision>
        </revhistory>
    </info>
    <define name="xlink.href.attrib">
        <attribute name="href" ns="http://www.w3.org/1999/xlink">
            <a:documentation>Identifies a link target with a Legacy extended IRI ( LeIRI ) </a:documentation>
            <ref name="URI.datatype"/>
        </attribute>
    </define>
    <define name="xlink.type.attrib">
        <attribute name="type" ns="http://www.w3.org/1999/xlink">
            <a:documentation>Identifies the XLink link type In any Z39.98-AI profile and as defined by XLink Simple Conformance , the xlink type simple is the implied xlink type, and does therefore not need to be expressed literally using the xlink.type attribute. </a:documentation>
            <value>simple</value>
            <a:documentation>The XLink simple link type </a:documentation>
        </attribute>
    </define>
    <define name="xlink.role.attrib">
        <attribute name="role" ns="http://www.w3.org/1999/xlink">
            <a:documentation>Identifies the XLink role of the link </a:documentation>
            <ref name="URI.datatype"/>
        </attribute>
    </define>
    <define name="xlink.arcrole.attrib">
        <attribute name="arcrole" ns="http://www.w3.org/1999/xlink">
            <a:documentation>Identifies the XLink arcrole of the link </a:documentation>
            <ref name="URI.datatype"/>
        </attribute>
    </define>
    <define name="xlink.title.attrib">
        <attribute name="title" ns="http://www.w3.org/1999/xlink">
            <a:documentation>Identifies the XLink title of the link. </a:documentation>
            <ref name="Characters.datatype"/>
        </attribute>
    </define>
    <define name="xlink.show.attrib">
        <attribute name="show" ns="http://www.w3.org/1999/xlink">
            <a:documentation>Identifies the XLink show behavior of the link </a:documentation>
            <ref name="xlink.show.enumeration"/>
        </attribute>
    </define>
    <define name="xlink.show.enumeration">
        <choice>
            <value>new</value>
            <a:documentation>An application traversing to the ending resource should load it in a new window, frame, pane, or other relevant presentation context. </a:documentation>
            <value>replace</value>
            <a:documentation>An application traversing to the ending resource should load the resource in the same window, frame, pane, or other relevant presentation context in which the starting resource was loaded. </a:documentation>
            <value>embed</value>
            <a:documentation>An application traversing to the ending resource should load its presentation in place of the presentation of the starting resource. </a:documentation>
            <value>other</value>
            <a:documentation>The behavior of an application traversing to the ending resource is unconstrained by XLink. The application should look for other markup present in the link to determine the appropriate behavior. </a:documentation>
            <value>none</value>
            <a:documentation>The behavior of an application traversing to the ending resource is unconstrained by this specification. No other markup is present to help the application determine the appropriate behavior. </a:documentation>
        </choice>
    </define>
    <define name="xlink.actuate.attrib">
        <attribute name="actuate" ns="http://www.w3.org/1999/xlink">
            <a:documentation>Identifies the XLink actuate behavior of the link </a:documentation>
            <ref name="xlink.actuate.enumeration"/>
        </attribute>
    </define>
    <define name="xlink.actuate.enumeration">
        <choice>
            <value>onLoad</value>
            <a:documentation>An application should traverse to the ending resource immediately on loading the starting resource. </a:documentation>
            <value>onRequest</value>
            <a:documentation>An application should traverse from the starting resource to the ending resource only on a post-loading event triggered for the purpose of traversal. </a:documentation>
            <value>other</value>
            <a:documentation>The behavior of an application traversing to the ending resource is unconstrained by this specification. The application should look for other markup present in the link to determine the appropriate behavior. </a:documentation>
            <value>none</value>
            <a:documentation>The behavior of an application traversing to the ending resource is unconstrained by this specification. No other markup is present to help the application determine the appropriate behavior. </a:documentation>
        </choice>
    </define>
    <define name="xlink.attrib">
        <a:documentation>The W3C XLink attributes collection. </a:documentation>
        <interleave>
            <ref name="xlink.href.attrib"/>
            <optional>
                <ref name="xlink.type.attrib"/>
            </optional>
            <optional>
                <ref name="xlink.title.attrib"/>
            </optional>
            <optional>
                <ref name="xlink.show.attrib"/>
            </optional>
            <optional>
                <ref name="xlink.actuate.attrib"/>
            </optional>
        </interleave>
    </define>
</grammar>