modules/zedai-utils/src/main/resources/xml/schema/z3998-book-1.0-latest/mod/z3998-verse.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:z="http://www.daisy.org/ns/z3998/annotations/#"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         xmlns:db="http://docbook.org/ns/docbook"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         ns="http://www.daisy.org/ns/z3998/authoring/">
    <info xmlns="http://docbook.org/ns/docbook" xml:lang="en">
        <title>The verse module </title>
        <annotation annotates="/">
            <para>This module defines the verse element for representing lines of verse embedded in prose contexts. </para>
            <para>More information about this module is available at http://www.daisy.org/z3998/2012/auth/cm/#z3998.verse.module</para>
        </annotation>
        <author>
            <personname>Markus Gylling</personname>
            <email>mgylling@daisy.org</email>
        </author>
        <copyright>
            <year>2009</year>
            <year>2010</year>
            <year>2011</year>
            <year>2012</year>
            <holder>DAISY Consortium</holder>
        </copyright>
        <legalnotice>
            <para>This module is licensed under a Creative Commons Attribution 3.0 license, a copy of which is available at 
                <link xlink:href="http://creativecommons.org/licenses/by/3.0/">http://creativecommons.org/licenses/by/3.0/</link>
            </para>
            <para>For complete licensing information, please refer to the LICENSE file that came with this distribution, a copy of which is also available from the DAISY web site at 
                <link xlink:href="http://www.daisy.org">www.daisy.org</link>
            </para>
        </legalnotice>
        <revhistory>
            <revision>
                <date>2012-12-19</date>
                <authorinitials>MGy</authorinitials>
                <revdescription>
                    <para>Initial version</para>
                </revdescription>
            </revision>
        </revhistory>
    </info>
    <div>
        <define name="z3998.verse">
            <element name="verse">
                <a:documentation>The verse element represents a non-prose passage such as a poem, song, hymn etc., with or without metrical structure. The verse element consists of one or more lines and may lines may be broken up into division such as stanzas and cantos using the lngroup and verse.section elements. </a:documentation>
                <ref name="z3998.verse.attlist"/>
                <ref name="z3998.verse.content"/>
            </element>
        </define>
        <define name="z3998.verse.attlist">
            <ref name="z3998.Section.attrib"/>
        </define>
        <define name="z3998.verse.content">
            <ref name="z3998.verse.content.base"/>
        </define>
        <define name="z3998.verse.content.base">
            <choice>
                <group>
                    <interleave>
                        <optional>
                            <ref name="z3998.h"/>
                        </optional>
                        <oneOrMore>
                            <choice>
                                <ref name="z3998.verse.content.class"/>
                            </choice>
                        </oneOrMore>
                    </interleave>
                    <zeroOrMore>
                        <ref name="z3998.verse.section"/>
                    </zeroOrMore>
                </group>
                <group>
                    <interleave>
                        <optional>
                            <ref name="z3998.h"/>
                        </optional>
                        <zeroOrMore>
                            <choice>
                                <ref name="z3998.verse.content.class"/>
                            </choice>
                        </zeroOrMore>
                    </interleave>
                    <oneOrMore>
                        <ref name="z3998.verse.section"/>
                    </oneOrMore>
                </group>
            </choice>
        </define>
        <define name="z3998.verse.content.class" combine="choice">
            <choice>
                <ref name="z3998.ln"/>
                <ref name="z3998.lngroup"/>
                <ref name="z3998.hd"/>
                <ref name="z3998.Global.extra.class"/>
            </choice>
        </define>
    </div>
    <div>
        <define name="z3998.verse.section">
            <element name="section">
                <a:documentation>The section element represents a major structural division of a verse , such as a canto. </a:documentation>
                <ref name="z3998.verse.section.attlist"/>
                <ref name="z3998.verse.section.content"/>
            </element>
        </define>
        <define name="z3998.verse.section.attlist">
            <ref name="z3998.global.core.attrib"/>
            <optional>
                <ref name="z3998.verse.role.attrib"/>
            </optional>
            <ref name="z3998.Block.extern.attrib"/>
        </define>
        <define name="z3998.verse.role.attrib">
            <attribute name="role">
                <list>
                    <oneOrMore>
                        <ref name="z3998.verse.role.attrib.content.enum"/>
                    </oneOrMore>
                </list>
            </attribute>
        </define>
        <define name="z3998.verse.role.attrib.content.enum" combine="choice">
            <ref name="CURIE.datatype"/>
        </define>
        <define name="z3998.verse.section.content">
            <ref name="z3998.verse.content.base"/>
        </define>
    </div>
    <div>
        <a:documentation>verse - default content model contribution </a:documentation>
        <define name="z3998.Block.core.class" combine="choice">
            <ref name="z3998.verse"/>
        </define>
    </div>
</grammar>