modules/zedai-utils/src/main/resources/xml/schema/z3998-book-1.0-latest/mod/z3998-partitions.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:z="http://www.daisy.org/ns/z3998/annotations/#"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         xmlns:db="http://docbook.org/ns/docbook"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         ns="http://www.daisy.org/ns/z3998/authoring/">
    <info xmlns="http://docbook.org/ns/docbook" xml:lang="en">
        <title>The document partitions module </title>
        <annotation annotates="/">
            <para>This module defines the frontmatter , bodymatter and backmatter elements into which document content is typically partitioned when representing information resources such as books and journals. </para>
            <para>More information about this module is available at http://www.daisy.org/z3998/2012/auth/cm/#z3998.partitions.module</para>
        </annotation>
        <author>
            <personname>Markus Gylling</personname>
            <email>mgylling@daisy.org</email>
        </author>
        <copyright>
            <year>2009</year>
            <year>2010</year>
            <year>2011</year>
            <year>2012</year>
            <holder>DAISY Consortium</holder>
        </copyright>
        <legalnotice>
            <para>This module is licensed under a Creative Commons Attribution 3.0 license, a copy of which is available at 
                <link xlink:href="http://creativecommons.org/licenses/by/3.0/">http://creativecommons.org/licenses/by/3.0/</link>
            </para>
            <para>For complete licensing information, please refer to the LICENSE file that came with this distribution, a copy of which is also available from the DAISY web site at 
                <link xlink:href="http://www.daisy.org">www.daisy.org</link>
            </para>
        </legalnotice>
        <revhistory>
            <revision>
                <date>2012-12-19</date>
                <authorinitials>MGy</authorinitials>
                <revdescription>
                    <para>Initial version</para>
                </revdescription>
            </revision>
        </revhistory>
    </info>
    <define name="z3998.partitions">
        <a:documentation>The partitions pattern defines a top-level partitioning structure for information resources such as books and journals. </a:documentation>
        <optional>
            <ref name="z3998.partitions.cover.slot"/>
        </optional>
        <ref name="z3998.frontmatter"/>
        <ref name="z3998.bodymatter"/>
        <optional>
            <ref name="z3998.backmatter"/>
        </optional>
    </define>
    <define name="z3998.partitions.cover.slot">
        <empty/>
    </define>
    <div>
        <define name="z3998.frontmatter">
            <element name="frontmatter">
                <a:documentation>The frontmatter element groups the initial/preliminary sections of a document. Frontmatter typically consists of such sections as forewords, prefaces, acknowledgements, introductions, dedications, prologues, and tables of contents. Frontmatter pages are typically identified by the use of Roman numerals for their numbering, but numbering alone is not a reliable indicator (it is not uncommon for front matter to begin with Arabic number 1, for example). The table of contents may help identify frontmatter sections either through emphasized typeface and/or the use of line breaks between the front, body and back matter sections. </a:documentation>
                <ref name="z3998.frontmatter.attlist"/>
                <ref name="z3998.frontmatter.content"/>
            </element>
        </define>
        <define name="z3998.frontmatter.attlist">
            <ref name="z3998.Section.attrib"/>
        </define>
        <define name="z3998.frontmatter.content">
            <oneOrMore>
                <choice>
                    <ref name="z3998.frontmatter.content.class"/>
                </choice>
            </oneOrMore>
        </define>
        <define name="z3998.frontmatter.content.class" combine="choice">
            <ref name="z3998.Section.class"/>
        </define>
    </div>
    <div>
        <define name="z3998.bodymatter">
            <element name="bodymatter">
                <a:documentation>The bodymatter element groups the primary narrative of a document, as contrasted with preliminary material in frontmatter and supplementary information in backmatter. </a:documentation>
                <ref name="z3998.bodymatter.attlist"/>
                <ref name="z3998.bodymatter.content"/>
            </element>
        </define>
        <define name="z3998.bodymatter.attlist">
            <ref name="z3998.Section.attrib"/>
        </define>
        <define name="z3998.bodymatter.content">
            <oneOrMore>
                <choice>
                    <ref name="z3998.Section.class"/>
                </choice>
            </oneOrMore>
        </define>
    </div>
    <div>
        <define name="z3998.backmatter">
            <element name="backmatter">
                <a:documentation>The backmatter element groups supplementary sections at the end of a document. Backmatter typically consists of such sections as appendices, glossaries, bibliographies and indices. </a:documentation>
                <ref name="z3998.backmatter.attlist"/>
                <ref name="z3998.backmatter.content"/>
            </element>
        </define>
        <define name="z3998.backmatter.attlist">
            <ref name="z3998.Section.attrib"/>
        </define>
        <define name="z3998.backmatter.content">
            <oneOrMore>
                <choice>
                    <ref name="z3998.backmatter.content.class"/>
                </choice>
            </oneOrMore>
        </define>
        <define name="z3998.backmatter.content.class" combine="choice">
            <ref name="z3998.Section.class"/>
        </define>
    </div>
</grammar>