modules/zedai-utils/src/main/resources/xml/schema/z3998-book-1.0-latest/mod/z3998-pagebreak.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:z="http://www.daisy.org/ns/z3998/annotations/#"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         xmlns:db="http://docbook.org/ns/docbook"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         ns="http://www.daisy.org/ns/z3998/authoring/">
    <info xmlns="http://docbook.org/ns/docbook" xml:lang="en">
        <title>The pagebreak module </title>
        <annotation annotates="/">
            <para>This module defines the pagebreak element and the pagebreak pagebreak.value attribute for retaining print page transition points. </para>
            <para>More information about this module is available at http://www.daisy.org/z3998/2012/auth/cm/#z3998.pagebreak.module</para>
        </annotation>
        <author>
            <personname>Markus Gylling</personname>
            <email>mgylling@daisy.org</email>
        </author>
        <copyright>
            <year>2009</year>
            <year>2010</year>
            <year>2011</year>
            <year>2012</year>
            <holder>DAISY Consortium</holder>
        </copyright>
        <legalnotice>
            <para>This module is licensed under a Creative Commons Attribution 3.0 license, a copy of which is available at 
                <link xlink:href="http://creativecommons.org/licenses/by/3.0/">http://creativecommons.org/licenses/by/3.0/</link>
            </para>
            <para>For complete licensing information, please refer to the LICENSE file that came with this distribution, a copy of which is also available from the DAISY web site at 
                <link xlink:href="http://www.daisy.org">www.daisy.org</link>
            </para>
        </legalnotice>
        <revhistory>
            <revision>
                <date>2012-12-19</date>
                <authorinitials>MGy</authorinitials>
                <revdescription>
                    <para>Initial version</para>
                </revdescription>
            </revision>
        </revhistory>
    </info>
    <div>
        <define name="z3998.pagebreak">
            <element name="pagebreak">
                <a:documentation>The pagebreak element represents the location of a page break in a print source. The pagebreak.value attribute optionally expresses a page number associated with the page. </a:documentation>
                <ref name="z3998.pagebreak.attlist"/>
                <ref name="z3998.pagebreak.content"/>
            </element>
        </define>
        <define name="z3998.pagebreak.attlist" combine="interleave">
            <ref name="z3998.Phrase.attrib"/>
            <optional>
                <ref name="z3998.pagebreak.value.attrib"/>
            </optional>
        </define>
        <define name="z3998.pagebreak.content">
            <empty/>
        </define>
        <define name="z3998.pagebreak.value.attrib">
            <attribute name="value">
                <a:documentation>The pagebreak value attribute provides the numbering of the page immediately following the pagebreak element. The value attribute allows any text string as an identifier to accommodate Arabic, roman and other sequencing conventions. </a:documentation>
                <ref name="NonEmptyString.datatype"/>
            </attribute>
        </define>
    </div>
    <div>
        <a:documentation>pagebreak - default content model contribution </a:documentation>
        <define name="z3998.Global.extra.class" combine="choice">
            <ref name="z3998.pagebreak"/>
        </define>
    </div>
</grammar>