modules/zedai-utils/src/main/resources/xml/schema/z3998-book-1.0-latest/mod/z3998-aside.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:z="http://www.daisy.org/ns/z3998/annotations/#"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         xmlns:sch="http://purl.oclc.org/dsdl/schematron"
         xmlns:db="http://docbook.org/ns/docbook"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         ns="http://www.daisy.org/ns/z3998/authoring/">
    <info xmlns="http://docbook.org/ns/docbook" xml:lang="en">
        <title>The aside module </title>
        <annotation annotates="/">
            <para>This module defines the aside element for capturing supplementary information in documents. </para>
            <para>More information about this module is available at http://www.daisy.org/z3998/2012/auth/cm/#z3998.aside.module</para>
        </annotation>
        <author>
            <personname>Markus Gylling</personname>
            <email>mgylling@daisy.org</email>
        </author>
        <copyright>
            <year>2009</year>
            <year>2010</year>
            <year>2011</year>
            <year>2012</year>
            <holder>DAISY Consortium</holder>
        </copyright>
        <legalnotice>
            <para>This module is licensed under a Creative Commons Attribution 3.0 license, a copy of which is available at 
                <link xlink:href="http://creativecommons.org/licenses/by/3.0/">http://creativecommons.org/licenses/by/3.0/</link>
            </para>
            <para>For complete licensing information, please refer to the LICENSE file that came with this distribution, a copy of which is also available from the DAISY web site at 
                <link xlink:href="http://www.daisy.org">www.daisy.org</link>
            </para>
        </legalnotice>
        <revhistory>
            <revision>
                <date>2012-12-19</date>
                <authorinitials>MGy</authorinitials>
                <revdescription>
                    <para>Initial version</para>
                </revdescription>
            </revision>
        </revhistory>
    </info>
    <div>
        <define name="z3998.aside.section">
            <element name="aside">
                <a:documentation>The aside element represents information supplementary to the main text and/or narrative flow. The Section variant is an adaptation for use with asides that contain structured content. An aside typically floats separate from the main text, often in a boxed or shaded region. The role attribute optionally expresses the semantic nature of the aside. </a:documentation>
                <ref name="z3998.aside.section.attlist"/>
                <ref name="z3998.aside.section.content"/>
                <sch:rule context="default:aside">
                    <sch:assert test="normalize-space(.) or *">The aside element must neither be empty nor contain only whitespace. </sch:assert>
                </sch:rule>
            </element>
        </define>
        <define name="z3998.aside.section.attlist">
            <ref name="z3998.global.core.attrib"/>
            <ref name="z3998.Section.extern.attrib"/>
            <optional>
                <ref name="z3998.aside.role.attrib"/>
            </optional>
        </define>
        <define name="z3998.aside.role.attrib">
            <attribute name="role">
                <ref name="z3998.aside.role.attrib.content"/>
            </attribute>
        </define>
        <define name="z3998.aside.role.attrib.content" combine="choice">
            <choice>
                <ref name="CURIEs.datatype"/>
            </choice>
        </define>
        <define name="z3998.aside.section.content">
            <optional>
                <ref name="z3998.h"/>
            </optional>
            <ref name="z3998.Section.model"/>
        </define>
    </div>
    <div>
        <define name="z3998.aside">
            <element name="aside">
                <a:documentation>The aside element represents information supplementary to the main text and/or narrative flow. The Block variant is an adaptation for use with asides that contain unstructured content. An aside typically floats separate from the main text, often in a boxed or shaded region. The role attribute optionally expresses the semantic nature of the aside. </a:documentation>
                <ref name="z3998.aside.attlist"/>
                <ref name="z3998.aside.content"/>
            </element>
        </define>
        <define name="z3998.aside.attlist">
            <ref name="z3998.global.core.attrib"/>
            <ref name="z3998.Block.extern.attrib"/>
            <optional>
                <ref name="z3998.aside.role.attrib"/>
            </optional>
        </define>
        <define name="z3998.aside.content">
            <ref name="z3998.Flow.choice.model"/>
        </define>
    </div>
    <div>
        <a:documentation>aside - default content model contribution </a:documentation>
        <define name="z3998.section.Section.content.class" combine="choice">
            <ref name="z3998.aside.section"/>
        </define>
        <define name="z3998.Block.core.class" combine="choice">
            <ref name="z3998.aside"/>
        </define>
        <define name="z3998.index.extra.class" combine="choice">
            <ref name="z3998.aside"/>
        </define>
        <define name="z3998.bibliography.extra.class" combine="choice">
            <ref name="z3998.aside"/>
        </define>
        <define name="z3998.glossary.extra.class" combine="choice">
            <ref name="z3998.aside"/>
        </define>
    </div>
</grammar>