utils/build-utils/webservice-jaxb/src/main/resources/xsd/properties/properties.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"
default namespace = "http://www.daisy.org/ns/pipeline/data"
start= 
    element properties{
        attribute href{xsd:anyURI}
        & element property{
                attribute bundleId{text}
                & attribute bundleName{text}
                & attribute name{text}
                & attribute value{text}
        }+
    }
