modules/scripts-utils/zedai-utils/src/main/resources/xml/schema/z3998-book-1.0/resources/d.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.daisy.org/ns/z3998/authoring/features/description/" xmlns:select="http://www.daisy.org/ns/z3998/authoring/features/select/" xmlns:synthesis="http://www.w3.org/2001/10/synthesis" xmlns:rend="http://www.daisy.org/ns/z3998/authoring/features/rend/" xmlns:its="http://www.w3.org/2005/11/its" xmlns:authoring="http://www.daisy.org/ns/z3998/authoring/" xmlns:d="http://www.daisy.org/ns/z3998/authoring/features/description/" xmlns:xforms="http://www.w3.org/2002/xforms/" xmlns:xlink="http://www.w3.org/1999/xlink">
  <xs:import namespace="http://www.daisy.org/ns/z3998/authoring/" schemaLocation="z3998-book.xsd"/>
  <xs:import namespace="http://www.daisy.org/ns/z3998/authoring/features/rend/" schemaLocation="rend.xsd"/>
  <xs:import namespace="http://www.daisy.org/ns/z3998/authoring/features/select/" schemaLocation="select.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/2001/10/synthesis" schemaLocation="synthesis.xsd"/>
  <xs:import namespace="http://www.w3.org/2002/xforms/" schemaLocation="xforms.xsd"/>
  <xs:import namespace="http://www.w3.org/2005/11/its" schemaLocation="its.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:element name="description">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="d:head"/>
        <xs:element ref="d:body"/>
      </xs:sequence>
      <xs:attribute ref="xml:id"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute ref="xml:base"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="head">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="authoring:meta"/>
      </xs:sequence>
      <xs:attribute ref="xml:id"/>
      <xs:attribute ref="xml:space"/>
      <xs:attribute ref="xml:base"/>
      <xs:attribute name="class" type="xs:NMTOKENS"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute ref="its:dir"/>
      <xs:attribute ref="its:translate"/>
      <xs:attribute name="about" type="xs:anyURI"/>
      <xs:attribute name="content"/>
      <xs:attribute name="datatype">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="typeof">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="property">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="rel">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="resource" type="xs:anyURI"/>
      <xs:attribute name="rev">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="desc">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list itemType="xs:NCName"/>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="by">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:union>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="author"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="general-editor"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="translator"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="commentator"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="editor"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="republisher"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:union>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute ref="select:selid"/>
      <xs:attribute name="role">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute ref="synthesis:onlangfailure"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="body">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:choice>
          <xs:element ref="d:summary"/>
          <xs:element ref="d:longdesc"/>
          <xs:element ref="d:simplifiedLanguageDescription"/>
          <xs:element ref="d:tactile"/>
          <xs:element ref="d:simplifiedImage"/>
        </xs:choice>
        <xs:group ref="authoring:annotation"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:attribute ref="xml:space"/>
      <xs:attribute ref="xml:base"/>
      <xs:attribute name="class" type="xs:NMTOKENS"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute ref="its:dir"/>
      <xs:attribute ref="its:translate"/>
      <xs:attribute name="about" type="xs:anyURI"/>
      <xs:attribute name="content"/>
      <xs:attribute name="datatype">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="typeof">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="property">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="rel">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="resource" type="xs:anyURI"/>
      <xs:attribute name="rev">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="desc">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list itemType="xs:NCName"/>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="by">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:union>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="author"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="general-editor"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="translator"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="commentator"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="editor"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="republisher"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:union>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute ref="select:selid"/>
      <xs:attribute name="role">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute ref="synthesis:onlangfailure"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="summary">
    <xs:complexType mixed="true">
      <xs:choice>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="authoring:sub"/>
          <xs:element ref="authoring:sup"/>
          <xs:element ref="authoring:char"/>
          <xs:element ref="its:ruby"/>
          <xs:group ref="authoring:span"/>
          <xs:element ref="authoring:ref"/>
          <xs:element ref="authoring:noteref"/>
          <xs:group ref="authoring:ln"/>
          <xs:element ref="authoring:s"/>
          <xs:element ref="authoring:w"/>
          <xs:element ref="authoring:abbr"/>
          <xs:element ref="authoring:expansion"/>
          <xs:element ref="authoring:emph"/>
          <xs:element ref="authoring:time"/>
          <xs:element ref="authoring:name"/>
          <xs:element ref="authoring:definition"/>
          <xs:element ref="authoring:term"/>
          <xs:element ref="authoring:d"/>
          <xs:element ref="authoring:num"/>
          <xs:element ref="synthesis:phoneme"/>
          <xs:element ref="synthesis:prosody"/>
          <xs:element ref="synthesis:say-as"/>
          <xs:element ref="synthesis:sub"/>
          <xs:element ref="synthesis:token"/>
          <xs:element ref="xforms:input"/>
          <xs:element ref="xforms:textarea"/>
          <xs:element ref="xforms:secret"/>
          <xs:element ref="xforms:select1"/>
          <xs:element ref="xforms:select"/>
          <xs:element ref="xforms:range"/>
          <xs:element ref="authoring:pagebreak"/>
        </xs:choice>
        <xs:element ref="authoring:hd"/>
        <xs:group ref="authoring:block"/>
        <xs:element ref="authoring:p"/>
        <xs:element ref="authoring:transition"/>
        <xs:element ref="authoring:list"/>
        <xs:element ref="authoring:table"/>
        <xs:element ref="authoring:code"/>
        <xs:element ref="authoring:quote"/>
        <xs:element ref="authoring:citation"/>
        <xs:group ref="authoring:object"/>
        <xs:element ref="authoring:address"/>
        <xs:group ref="authoring:note"/>
        <xs:group ref="authoring:annotation"/>
        <xs:group ref="authoring:aside"/>
        <xs:element ref="authoring:caption"/>
        <xs:element ref="authoring:verse"/>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:attribute ref="xml:space"/>
      <xs:attribute ref="xml:base"/>
      <xs:attribute name="class" type="xs:NMTOKENS"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute ref="its:dir"/>
      <xs:attribute ref="its:translate"/>
      <xs:attribute name="about" type="xs:anyURI"/>
      <xs:attribute name="content"/>
      <xs:attribute name="datatype">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="typeof">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="property">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="rel">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="resource" type="xs:anyURI"/>
      <xs:attribute name="rev">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="desc">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list itemType="xs:NCName"/>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="by">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:union>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="author"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="general-editor"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="translator"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="commentator"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="editor"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="republisher"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:union>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute ref="select:selid"/>
      <xs:attribute name="role">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="continuation" type="xs:IDREFS"/>
      <xs:attribute ref="synthesis:onlangfailure"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="longdesc">
    <xs:complexType mixed="true">
      <xs:choice>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="authoring:hd"/>
          <xs:group ref="authoring:block"/>
          <xs:element ref="authoring:p"/>
          <xs:element ref="authoring:transition"/>
          <xs:element ref="authoring:list"/>
          <xs:element ref="authoring:table"/>
          <xs:element ref="authoring:code"/>
          <xs:element ref="authoring:quote"/>
          <xs:element ref="authoring:citation"/>
          <xs:group ref="authoring:object"/>
          <xs:element ref="authoring:address"/>
          <xs:group ref="authoring:note"/>
          <xs:group ref="authoring:annotation"/>
          <xs:group ref="authoring:aside"/>
          <xs:element ref="authoring:caption"/>
          <xs:element ref="authoring:verse"/>
          <xs:element ref="authoring:description"/>
          <xs:element ref="synthesis:break"/>
          <xs:element ref="select:select"/>
          <xs:element ref="xforms:group"/>
          <xs:element ref="xforms:repeat"/>
          <xs:element ref="d:description"/>
        </xs:choice>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="authoring:sub"/>
          <xs:element ref="authoring:sup"/>
          <xs:element ref="authoring:char"/>
          <xs:element ref="its:ruby"/>
          <xs:group ref="authoring:span"/>
          <xs:element ref="authoring:ref"/>
          <xs:element ref="authoring:noteref"/>
          <xs:group ref="authoring:ln"/>
          <xs:element ref="authoring:s"/>
          <xs:element ref="authoring:w"/>
          <xs:element ref="authoring:abbr"/>
          <xs:element ref="authoring:expansion"/>
          <xs:element ref="authoring:emph"/>
          <xs:element ref="authoring:time"/>
          <xs:element ref="authoring:name"/>
          <xs:element ref="authoring:definition"/>
          <xs:element ref="authoring:term"/>
          <xs:element ref="authoring:d"/>
          <xs:element ref="authoring:num"/>
          <xs:element ref="synthesis:phoneme"/>
          <xs:element ref="synthesis:prosody"/>
          <xs:element ref="synthesis:say-as"/>
          <xs:element ref="synthesis:sub"/>
          <xs:element ref="synthesis:token"/>
          <xs:element ref="xforms:input"/>
          <xs:element ref="xforms:textarea"/>
          <xs:element ref="xforms:secret"/>
          <xs:element ref="xforms:select1"/>
          <xs:element ref="xforms:select"/>
          <xs:element ref="xforms:range"/>
          <xs:element ref="authoring:pagebreak"/>
        </xs:choice>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:attribute ref="xml:space"/>
      <xs:attribute ref="xml:base"/>
      <xs:attribute name="class" type="xs:NMTOKENS"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute ref="its:dir"/>
      <xs:attribute ref="its:translate"/>
      <xs:attribute name="about" type="xs:anyURI"/>
      <xs:attribute name="content"/>
      <xs:attribute name="datatype">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="typeof">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="property">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="rel">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="resource" type="xs:anyURI"/>
      <xs:attribute name="rev">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="desc">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list itemType="xs:NCName"/>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="by">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:union>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="author"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="general-editor"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="translator"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="commentator"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="editor"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="republisher"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:union>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute ref="select:selid"/>
      <xs:attribute name="role">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="continuation" type="xs:IDREFS"/>
      <xs:attribute ref="synthesis:onlangfailure"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="simplifiedLanguageDescription">
    <xs:complexType mixed="true">
      <xs:choice>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="authoring:hd"/>
          <xs:group ref="authoring:block"/>
          <xs:element ref="authoring:p"/>
          <xs:element ref="authoring:transition"/>
          <xs:element ref="authoring:list"/>
          <xs:element ref="authoring:table"/>
          <xs:element ref="authoring:code"/>
          <xs:element ref="authoring:quote"/>
          <xs:element ref="authoring:citation"/>
          <xs:group ref="authoring:object"/>
          <xs:element ref="authoring:address"/>
          <xs:group ref="authoring:note"/>
          <xs:group ref="authoring:annotation"/>
          <xs:group ref="authoring:aside"/>
          <xs:element ref="authoring:caption"/>
          <xs:element ref="authoring:verse"/>
          <xs:element ref="authoring:description"/>
          <xs:element ref="synthesis:break"/>
          <xs:element ref="select:select"/>
          <xs:element ref="xforms:group"/>
          <xs:element ref="xforms:repeat"/>
          <xs:element ref="d:description"/>
        </xs:choice>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="authoring:sub"/>
          <xs:element ref="authoring:sup"/>
          <xs:element ref="authoring:char"/>
          <xs:element ref="its:ruby"/>
          <xs:group ref="authoring:span"/>
          <xs:element ref="authoring:ref"/>
          <xs:element ref="authoring:noteref"/>
          <xs:group ref="authoring:ln"/>
          <xs:element ref="authoring:s"/>
          <xs:element ref="authoring:w"/>
          <xs:element ref="authoring:abbr"/>
          <xs:element ref="authoring:expansion"/>
          <xs:element ref="authoring:emph"/>
          <xs:element ref="authoring:time"/>
          <xs:element ref="authoring:name"/>
          <xs:element ref="authoring:definition"/>
          <xs:element ref="authoring:term"/>
          <xs:element ref="authoring:d"/>
          <xs:element ref="authoring:num"/>
          <xs:element ref="synthesis:phoneme"/>
          <xs:element ref="synthesis:prosody"/>
          <xs:element ref="synthesis:say-as"/>
          <xs:element ref="synthesis:sub"/>
          <xs:element ref="synthesis:token"/>
          <xs:element ref="xforms:input"/>
          <xs:element ref="xforms:textarea"/>
          <xs:element ref="xforms:secret"/>
          <xs:element ref="xforms:select1"/>
          <xs:element ref="xforms:select"/>
          <xs:element ref="xforms:range"/>
          <xs:element ref="authoring:pagebreak"/>
        </xs:choice>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:attribute ref="xml:space"/>
      <xs:attribute ref="xml:base"/>
      <xs:attribute name="class" type="xs:NMTOKENS"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute ref="its:dir"/>
      <xs:attribute ref="its:translate"/>
      <xs:attribute name="about" type="xs:anyURI"/>
      <xs:attribute name="content"/>
      <xs:attribute name="datatype">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="typeof">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="property">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="rel">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="resource" type="xs:anyURI"/>
      <xs:attribute name="rev">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="desc">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list itemType="xs:NCName"/>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="by">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:union>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="author"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="general-editor"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="translator"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="commentator"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="editor"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="republisher"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:union>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute ref="select:selid"/>
      <xs:attribute name="role">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="continuation" type="xs:IDREFS"/>
      <xs:attribute ref="synthesis:onlangfailure"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="tactile">
    <xs:complexType>
      <xs:sequence>
        <xs:group maxOccurs="unbounded" ref="authoring:object"/>
        <xs:element minOccurs="0" ref="d:tour"/>
      </xs:sequence>
      <xs:attribute ref="xml:id"/>
      <xs:attribute ref="xml:space"/>
      <xs:attribute ref="xml:base"/>
      <xs:attribute name="class" type="xs:NMTOKENS"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute ref="its:dir"/>
      <xs:attribute ref="its:translate"/>
      <xs:attribute name="about" type="xs:anyURI"/>
      <xs:attribute name="content"/>
      <xs:attribute name="datatype">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="typeof">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="property">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="rel">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="resource" type="xs:anyURI"/>
      <xs:attribute name="rev">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="desc">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list itemType="xs:NCName"/>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="by">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:union>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="author"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="general-editor"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="translator"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="commentator"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="editor"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="republisher"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:union>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute ref="select:selid"/>
      <xs:attribute name="role">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="continuation" type="xs:IDREFS"/>
      <xs:attribute ref="synthesis:onlangfailure"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="simplifiedImage">
    <xs:complexType>
      <xs:sequence>
        <xs:group maxOccurs="unbounded" ref="authoring:object"/>
        <xs:element minOccurs="0" ref="d:tour"/>
      </xs:sequence>
      <xs:attribute ref="xml:id"/>
      <xs:attribute ref="xml:space"/>
      <xs:attribute ref="xml:base"/>
      <xs:attribute name="class" type="xs:NMTOKENS"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute ref="its:dir"/>
      <xs:attribute ref="its:translate"/>
      <xs:attribute name="about" type="xs:anyURI"/>
      <xs:attribute name="content"/>
      <xs:attribute name="datatype">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="typeof">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="property">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="rel">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="resource" type="xs:anyURI"/>
      <xs:attribute name="rev">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="desc">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list itemType="xs:NCName"/>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="by">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:union>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="author"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="general-editor"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="translator"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="commentator"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="editor"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="republisher"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:union>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute ref="select:selid"/>
      <xs:attribute name="role">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="continuation" type="xs:IDREFS"/>
      <xs:attribute ref="synthesis:onlangfailure"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="tour">
    <xs:complexType mixed="true">
      <xs:choice>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="authoring:hd"/>
          <xs:group ref="authoring:block"/>
          <xs:element ref="authoring:p"/>
          <xs:element ref="authoring:transition"/>
          <xs:element ref="authoring:list"/>
          <xs:element ref="authoring:table"/>
          <xs:element ref="authoring:code"/>
          <xs:element ref="authoring:quote"/>
          <xs:element ref="authoring:citation"/>
          <xs:group ref="authoring:object"/>
          <xs:element ref="authoring:address"/>
          <xs:group ref="authoring:note"/>
          <xs:group ref="authoring:annotation"/>
          <xs:group ref="authoring:aside"/>
          <xs:element ref="authoring:caption"/>
          <xs:element ref="authoring:verse"/>
          <xs:element ref="authoring:description"/>
          <xs:element ref="synthesis:break"/>
          <xs:element ref="select:select"/>
          <xs:element ref="xforms:group"/>
          <xs:element ref="xforms:repeat"/>
          <xs:element ref="d:description"/>
        </xs:choice>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="authoring:sub"/>
          <xs:element ref="authoring:sup"/>
          <xs:element ref="authoring:char"/>
          <xs:element ref="its:ruby"/>
          <xs:group ref="authoring:span"/>
          <xs:element ref="authoring:ref"/>
          <xs:element ref="authoring:noteref"/>
          <xs:group ref="authoring:ln"/>
          <xs:element ref="authoring:s"/>
          <xs:element ref="authoring:w"/>
          <xs:element ref="authoring:abbr"/>
          <xs:element ref="authoring:expansion"/>
          <xs:element ref="authoring:emph"/>
          <xs:element ref="authoring:time"/>
          <xs:element ref="authoring:name"/>
          <xs:element ref="authoring:definition"/>
          <xs:element ref="authoring:term"/>
          <xs:element ref="authoring:d"/>
          <xs:element ref="authoring:num"/>
          <xs:element ref="synthesis:phoneme"/>
          <xs:element ref="synthesis:prosody"/>
          <xs:element ref="synthesis:say-as"/>
          <xs:element ref="synthesis:sub"/>
          <xs:element ref="synthesis:token"/>
          <xs:element ref="xforms:input"/>
          <xs:element ref="xforms:textarea"/>
          <xs:element ref="xforms:secret"/>
          <xs:element ref="xforms:select1"/>
          <xs:element ref="xforms:select"/>
          <xs:element ref="xforms:range"/>
          <xs:element ref="authoring:pagebreak"/>
        </xs:choice>
      </xs:choice>
      <xs:attribute ref="xml:id"/>
      <xs:attribute ref="xml:space"/>
      <xs:attribute ref="xml:base"/>
      <xs:attribute name="class" type="xs:NMTOKENS"/>
      <xs:attribute ref="xml:lang"/>
      <xs:attribute ref="its:dir"/>
      <xs:attribute ref="its:translate"/>
      <xs:attribute name="about" type="xs:anyURI"/>
      <xs:attribute name="content"/>
      <xs:attribute name="datatype">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="typeof">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="property">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="rel">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="resource" type="xs:anyURI"/>
      <xs:attribute name="rev">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="desc">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list itemType="xs:NCName"/>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="by">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:union>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="author"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="general-editor"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="translator"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="commentator"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="editor"/>
                      </xs:restriction>
                    </xs:simpleType>
                    <xs:simpleType>
                      <xs:restriction base="xs:token">
                        <xs:enumeration value="republisher"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:union>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute ref="select:selid"/>
      <xs:attribute name="role">
        <xs:simpleType>
          <xs:restriction>
            <xs:simpleType>
              <xs:list>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)?[\i-[:]][\c-[:]]*"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="continuation" type="xs:IDREFS"/>
      <xs:attribute ref="synthesis:onlangfailure"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
